/*Custom CSS for Plugfest and Events Page*/

@font-face { font-family: SegoeUILight; src: url(./fonts/segoeuil.ttf)};
@font-face { font-family: SegoeUI; src: url(./fonts/segoeuil.ttf)};
@font-face { font-family: SegoeUILight; font-weight: bold; src: url(./fonts/segoeuib.ttf)}; 
@font-face { font-family: SegoeUILight; font-style: italic; src: url(./fonts/segoeuib.ttf)};

body {
	/*background-image: url(../img/background-stripe.png);*/
	background-repeat: no-repeat;
	background-position: 0% 350px;
	background-size: 100%
	opacity: .5;
	font-family: SegoeUILight !important;

}

/*header {
	position: relative !important;
	background-image: url(../img/tnw-conference.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	max-width: 100%;
	min-height: 596px;
}
*/
/*header {
    background-image: url(../img/tnw-conference.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 38.28%; /
}*/

.individual-homepage-expert {
	display:inline-block;
	position:relative;
	border:1px solid #ddd;
	background:#f5f5f5;
	padding:3px;
	margin:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.the-team-section img {
	padding-right: 10px;
	max-width: 165px;
}


.float-left {
	float: left;
}

.float-right {
	float: right;
}

.map {
	background-color: #7d489c;
	width: 100%;
	height: 100%;
	color: #fff;
}

.map h1 {
	color: #fff;
}

.filler {
	visibility: hidden;
}

.home-page-experts img{
	/*max-width: 131px;*/
	/*display: inline-block;*/
	/*vertical-align: top;*/
}

.home-page-experts a {
	/*max-width: 131px;*/
	vertical-align: top;
}

.home-page-experts p {
	display:block;
	margin-top:3px;
	font-size:0.8em;
	color:#666;
	padding:0px 5px;
}

.stick-footer {
	  position: absolute;
		bottom: 0;
}

.fa-bars {
	color: #fff;
}

.menu-overlay {
	background-color: rgba(91, 44, 144, 1);
	/*padding-right: 18%;*/
}

.menu-overlay ul {
	width: 115%;
	padding-right: 20%;
}



.menu-overlay li {
	float: right;
}

.menu-overlay img {
	/*padding-top: 1%;*/
/*  margin-bottom: -3%;
	padding-left: 3%;*/
}

.menu-overlay a:hover {
	background-color: #68217a;
}

.map-menu {
	/*margin: 0 auto;*/
	margin-top: 0.5% !important;
	margin-right: 13% !important;
	/*margin-left: -15% !important;*/
	/*padding-top: 4% !important;*/
	/*font-size: 1.3vw !important;*/
}

.map-menu:last-child {
	margin-top: 1%;
	padding-bottom: 0;
}

/*
.gray-menu-overlay {
	background-color: rgba(0, 0, 0, 1);
}

.gray-menu-overlay ul {
	width: 70%;
  margin: auto;
}

.gray-menu-overlay img {
	padding-left: 3%;
}

.gray-menu-overlay li {
	float: right;
}

.gray-menu-overlay li:hover {
	background-color: rgba(0, 0, 0, .6);
}

.gray-menu-overlay img {
	padding-top: 1%;
  margin-bottom: -2%;
}*/

.hamburger-menu {
	display: none;
}

.hamburger-icon {
	padding-top: 8px; 
	float: right;
	color: #fff;
	margin-right: -50%;
}

.hidden-menu {
	display: none !important;
	position: absolute;
}

.upcoming-menu {
	position: relative;
	z-index: 1001;
}

/*.upcoming-sub-menu {
	position:absolute;
  z-index:99;
  width:100%;
}*/


.expanding-menu {
	position: absolute;
	z-index: 1000;
}

.upcoming-sub-menu {
	display: none;
}

.add-padding {
	padding-left: 60% !important;
}
/*.add-space  {
	padding-top: 10% !important;
}
*/
h1 {
	font-family: SegoeUILight, sans-serif;
	color: #505050;
}

h2 {
	font-family: SegoeUILight, sans-serif;
}

h3 {
	font-family: SegoeUILight, sans-serif;
}

h4 {
	font-family: SegoeUILight, sans-serif;
}

h5 {
	font-family: SegoeUILight, sans-serif;
}

h6 {
	font-family: SegoeUILight, sans-serif;
}

p {
	font-family: SegoeUILight, sans-serif;
}

li {
	font-family: SegoeUILight, sans-serif;
}

a {
	text-decoration: none;
	font-family: SegoeUILight, sans-serif;
}

table {
	font-family: SegoeUILight, sans-serif;
}

.schedule td:first-child {
	text-align: center;
	font-size: 1.5em;
}

.schedule tr > :first-child {
	max-width: 25px;
}

.community td:first-child {
	width: 25%;
}

.bing-logo {
	float: right;
	margin-right: 12%;
}

.center-block  {
	margin: 0 0 0 0;
	width: 20%;
}

.center-block h2 {
	color: #FFF;
	text-align: center;
	font-size: 2em;
}

.menu-block {
	background-color: rgba(210, 210, 210, 1);
	width: 100%;
}

.menu-block h2 {
	color: rgba(80, 80, 80, 1);
}

.menu-block:hover {
	background-color: rgba(80, 80, 80, 1);
}

.menu-block.current-page {
	background-color: rgba(80, 80, 80, 1);
	color: #fff;
}

.menu-block:hover h2 {
	color: #fff;
}

.menu-block.current-page h2 {
	color: #fff;
}

.gray-menu {
	background-color: rgba(210, 210, 210, 1);
}

.home-menu-block {
	/*width: 12%;*/
}

.register-button {
	background-color: #0078D7 !important;
	margin-top: 3% !important;
	margin-left: 100px !important;
	padding-bottom: 2%;
	border-radius: 10px;
	color: #fff !important;
}

.register-button a {
	line-height: 11px !important;

}
/*
.mobile-register-button {
	padding-top: 2% !important;
	padding-left: 5% !important;
	padding-right: 7% !important;
}*/

.meetup-button {
	background-color: red !important;

}

/*---------------------------------
	RED
-----------------------------------*/
button.red,
a.btn.red,
a.button.red,
input[type=submit].red,
input[type=reset].red,
input[type=button].red{
text-shadow:0 -1px 0 #B21203;
color:#fff;
border:1px solid #B21203;
background: rgb(229,60,22); /* Old browsers */
background: -moz-linear-gradient(top, rgba(229,60,22,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,60,22,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(229,60,22,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(229,60,22,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: linear-gradient(top, rgba(229,60,22,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53c16', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

	button.red:hover,
	a.btn.red:hover,
	a.button.red:hover{
	text-shadow:0 1px 0 #B21203;
	border:1px solid #B21203;
	background: rgb(238,106,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,106,76,1) 0%, rgba(251,33,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,106,76,1)), color-stop(100%,rgba(251,33,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,106,76,1) 0%,rgba(251,33,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,106,76,1) 0%,rgba(251,33,33,1) 100%); /* Opera 11.10+ */
	background: linear-gradient(top, rgba(238,106,76,1) 0%,rgba(251,33,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6a4c', endColorstr='#fb2121',GradientType=0 ); /* IE6-9 */
	}

	.social-icons img {
		margin-right: -35px;
	}

	.social-icons a {
		background-color: transparent !important;
	}

/*.left-block-overlay {
	background-image: url(../img/bill-and-steve.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}*/

/*.left-block {
	background-color: rgba(218, 59, 1, 1);
	width: 100%;
}*/

/*.left-block-hover {
	background-color: rgba(218, 59, 1, 0.6);
}*/

/*.left-center-block-overlay {
	background-image: url(../img/welcome-taipei.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}*/

/*.left-center-block {
	background-color: rgba(180, 0, 158, 1);
	width: 100%;
}*/

/*.left-center-block-hover {
	background-color: rgba(180, 0, 158, .6);
}
*/
/*.right-center-block-overlay {
	background-image: url(../img/future-events-shanghai.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}*/

/*.right-center-block {
	background-color: rgba(255, 185, 0, 1);
	width: 100%;
}
*/
/*.right-center-block-hover {
	background-color: rgba(255, 185, 0, .6);
}*/

/*.right-block-overlay {
	background-image: url(../img/alfresco-group-2014.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
*/
/*.right-block {
	background-color: rgba(232, 17, 35, 1);
	width: 100%;
}*/

/*.right-block-hover {
	background-color: rgba(232, 17, 35, .6);
}*/

footer a {
	color: #000;
}

.footer-right a:hover {
  text-shadow: 0 0 10px rgba(80, 80, 80, 1);
}

.footer-left a:hover {
  text-shadow: 0 0 10px rgba(210, 210, 210, 1);
}

.footer-left {
	background-color: #505050;
	padding-right: 2.5%
}

.footer-right {
	background-color: #d2d2d2;
	/*float: right;*/
}

.foot li {
	/*list-style-type: none;*/
	/*display: inline;*/
	/*font-size: 1.25em;*/
	/*font-weight: bold;*/
	/*padding: 2%;*/
}

.foot  {
	/*margin: 0 0 0 0;*/
	/*min-height: 100px;*/
	/*width: 50%;*/
/*	padding: 1% 1.5% 0 0;*/
}

.mobile-foot {
	width: 100%;
	/*height: 50px;*/
	margin: 0 0 0 0;
	padding: 5px 0 5px 0;
	/*padding-left: 25%;*/
}
/*
.mobile-foot li {
	list-style-type: none;
	font-size: 2em;
	line-height: 140%;
	font-weight: bold;
	padding: 2%;
	background-color: #d2d2d2;
}*/

.mobile-foot p {
	text-align: center;
}

.bx-wrapper {
	margin: 0 0 0;
	padding: 0 0 0 0;
}

.wrap {
	  float:left;
	  clear:none;
	  overflow:hidden;
		width: 100px;
    position: fixed;
    top: 21.5%;
    /*left: 95%;*/
    right: 0%;
	}
	.wrap img {
	  position:relative;
	  z-index:1;
	}
	.wrap .desc {
	  display:block;
	  position:absolute;
	  width:100%;
	  top:20%;
	  left:0;
	  z-index:2;
	  text-align:center;
	}

	.desktop-menu {
	  overflow: hidden;
	}

	.bottom-menu {
		display: none;
	}
	
	.slideshow {
	  float:left;
	  clear:none;
	  overflow:hidden;
		width: 100px;
    position: fixed;
	}
	.slideshow img {
	  position:relative;
	  z-index:1;
	}
	.slideshow .desc {
	  display:block;
	  position:absolute;
	  width:60%;
	  top:10%;
	  left:0;
	  z-index:2;
	  text-align:left;
	  padding-left: 5%;
	}

	.slideshow a {
		color: #fff;
		display: block;
	}

	.slideshow a:hover {
		color: #d2d2d2;
	}

/*	.slideshow h1 {
		color: #fff;
		font-weight: bold;
		font-size: 3.2vw;
		line-height: 1.809em;
		margin-left: 10%;
		background-color: rgba(0, 0, 0, 0.5);
	}*/

	.slideshow h2 {
		color: #fff;
		font-weight: bold;
		text-align: left;
		font-size: 1.5vw;
		margin-left: 5%;
		padding-bottom: 2.5%;
		/*background-color: rgba(0, 0, 0, 0.5);*/
	}

	.slideshow li:nth-child(2) h2 {
		background-color: rgba(16, 124, 16, .5);
	}

	.slideshow li:nth-child(3) h2 {
		background-color: rgba(92, 45, 145, .5);
	}

	.slideshow li:nth-child(4) h2 {
		background-color: rgba(0, 120, 215, .5);
	}

/*	.desktop-menu .blue.button {
		margin-top: 4%;
	}*/

	.slideshow p {
		text-align: right;
		padding-right: 10%;
		margin-bottom: -10%;
	}

	.slideshow .desc:last-child {
		padding-bottom: 5%;
	}

	.slideshow .desc:nth-last-child(2) {
		top: 20%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(3) {
		top: 30%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(4) {
		top: 40%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(5) {
		top: 50%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(6) {
		top: 60%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(7) {
		top: 70%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(8) {
		top: 80%;
		margin-left: 10%;
	}

	.slideshow .desc:nth-child(9) {
		top: 90%;
		margin-left: 10%;
	}


	.slide-title {
		margin-top: 10% auto auto 10%;
		position: relative;
		float: left;
		font-size: 2.5vw;
		line-height: 120%;
	}
/*
	.social {
    z-index: 999;
	}*/
/*
	.social li {
    list-style-type: none;
    margin: 0;
    padding: 1px 0 0 0;
    text-align: right;
	}*/

	.header-image {
		display: none;
		text-align: center;
		width: 100%;
	}

	.header-image img {
		max-width: 100%;
		max-height: 70px;
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.event-header {
		text-align: center;
		width: 100%;
		display: block;
	}

	.event-header img {
		max-width: 100%;
		/*margin: 1% 0 1% 0;*/
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.events a {
		color: #000;
	}

	.experts-header {
		background-color: #7fba00;
	}

	.community-header {
		background-color: #40c5af;
	}

	.upcoming-header {
		background-color: #9b4f97;	
	}

	.past-header {
		background-color: #6dc2e9;
	}

	.event-tabs {
		max-width: 100%;
	}

	.event-tabs span {
		font-size: 1em;
	}

	.events > :first-child {
		/*background-image: url(../img/shaking_hands_turquise.jpg);*/
		background-image: url(../img/santa-clara-convention-center-2.jpg);
		background-repeat: no-repeat;
		/*background-size: contain;*/
		background-position: bottom right;
	}

	.events > :nth-child(2) {
		/*background-image: url(../img/shaking_hands_green.jpg);*/
		background-image: url(../img/shanghai-skyline-2.jpg);
		background-repeat: no-repeat;
		/*background-size: contain;*/
		background-position: bottom right;
	} 

	.events > :nth-child(3) {
		/*background-image: url(../img/shaking_hands_yellow.jpg);*/
		background-image: url(../img/arc-de-triomphe.jpg);
		background-repeat: no-repeat;
		/*background-size: contain;*/
		background-position: bottom right;
	}

	.event_block {
		background-color: #d2d2d2;
		min-height: 300px;
		position: relative;
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 2%;
	}

	.event_block div {
		color: #fff;
		background-color: #505050;
		padding: .5% .5% .5% .5%;
		position: absolute;
    bottom: -100%; 
	}

	.event_block h3 {
		font-size: 1.5em;
		font-weight: normal;
		padding: 0 1% 1% 1%;
		margin-left: 10%;
		/*text-align: right;*/
		position: relative;
		line-height: 2em;
		color: #fff;
		background-color: rgba(0, 0, 0, .6);
	}

	.event_block h1 {
		padding: 0 1% 0 1%;
		/*font-size: 2.5vw;*/
	}

	.past_events {
		background-color: rgba(0, 216, 204, .8);
		margin-bottom: 1%;
    margin-top: 2%;
    padding: 1%;
	}

	.past_events h2 {
		color: #fff;
	}

	.rising_text p {
		font-size: 1em;
		padding: 0;
		text-align: left;
	}

	.rising_text a {
		color: #fff;
	}

	.white-bg {
		background-color: #fff;
	}

	.selected-year {
		background-color: #4668c5;
	}

.scroll-button {
	text-align: right;
}

.scroll-button p {
	font-size: .5em;
	font-weight: bold;
}

.ms-logo {
	float: left;
	margin: 1% auto auto 1%;;
}

@media all and (max-width: 1550px) {
/*	.map-menu {
		margin-top: -3.5% !important;
	}

	.map-menu a {
		font-size: 1.3vw;
	}*/

	.map-menu {
	/*margin: 0 auto;*/
	margin-top: -3.5%;
	margin-right: 6% !important;
	/*margin-left: auto !important;*/
	/*padding-top: 4% !important;*/
	/*font-size: 1.3vw !important;*/
	}

	.map-menu img {
		width: 90%;
	}


}

@media all and (max-width: 1280px) {

	.map-menu {
		/*margin-right: 6% !important;*/
		/*margin-top: -3% !important;*/
	}

	.map-menu a {
		/*margin-top: -1% !important;*/
		font-size: 1.6vw !important;
	}

	.social-icons img {
		height: 30px;
	}

}

@media all and (max-width: 1074px) {

	.map-menu {
		/*margin-left: 5% !important;*/
		margin-top: -4% !important;
	}

	.map-menu a:first-child {
		margin-left: 20% !important;
	}

	.map-menu a:not(:first-child) {
		margin-left: -5% !important;
	}

	.map-menu a:last-child {
		margin-left: 0% !important;
	}

	.slideshow .desc:not(:first-child) {
		display: none;
	}

	 .desc .span:first-child {
		/*font-size: 10em;*/
	}

	.slide-title {
		font-size: 4vw;
	}

	.slideshow p {
		font-size: 3vw;
	}

	.sub-title {
		display: none;
	}

	.event-header {
		/*max-height: 70px;*/
	}

}

@media all and (min-width: 765px) and (max-width: 1250px) {

	.menu-overlay img {
		/*padding-bottom: 10px;*/
	}

	.menu li:first-child a{
		font-size:1em;
	}

	.menu-overlay.desktop-menu a {
		font-size: 1.2em;
	}

}

.register-button {
	margin-right: 100px;
}

@media all and (max-width: 900px) {

	.menu-block {
		/*height: 100px;*/
	}

	.home-menu-block {
		/*height: 100px;*/
	}

	.social-icons {
		margin-left: -40px !important;
	}

	.social-icons img {
		height: 20px;
		margin-right: -30px !important;
	}

	.social-icons {
		float: left;
	}

	/*.left-block {
		height: 140px;
	}
	.left-center-block {
		height: 140px;	
	}
	.right-center-block {
		height: 140px;	
	}
	.right-block {
		height: 140px;	
	}*/
	.center-block h2 {
		font-size: 1.5em;
	}
}

@media all and (max-width: 768px) {

	.social-icons {
		padding-left: 40px;
	}

	.past_events {
    margin-right: 0;
    margin-left: 0;
	}

	.event_block {
		margin: 0.5em 0 0.5em 0;
	}

	.bottom-menu {
		display: inline;
	}

	.hamburger-menu {
		display: inline;
		padding-left: 5%;
	}

	.hamburger-menu li:last-child {
		padding-bottom: 6%;
	}

	.menu-overlay {
		padding-right: 18%;
	}


	.desktop-menu {
		display: none !important;
	}

	.mobile-menu span {
		line-height: 130%;
		float: left !important;
		width: 270px;
		padding: 3% 3% 3% 30%;
	}

	.adjust-menu-height {
		height: 67px;
	}

	.home {
		font-size: 1.6em;
	}
/*
	.foot {
		display: none !important;
	}*/

	.grid.past-events-menu {
		width:100%;
		max-width:100%;
		padding:0;
		padding:0;
		margin-right: 0;
		margin-left: 0;
	}

	.social-icons img {
		height: 30px;
	}

	.register-button {
		max-height: 50% !important;
	}

	.menu-overlay {
		height: 65px;
	}

	.home-page-experts img{
		padding-right: 5px;
	}

	.individual-homepage-expert img {
		max-width: 165px;
	}

	.hamburger-icon {
		/*margin-top: -20px;*/
		padding-top: 12px;
	}

	.menu-overlay {
		overflow: hidden;
		padding-bottom: 85px;
	}

}

@media all and (min-width: 769px) {
	.events {
		max-width: 95% !important;

	}

	.event_block h1 {
		font-size: 2.5vw;
	}

}

@media all and (max-width: 641px) {
	.hamburger-icon {
		padding-top: 0;
		margin-top: -10px;
	}
}

@media all and (max-width: 610px) {
	.hamburger-icon {
		margin-right: -70px;
		/*margin-top: -10px;*/
	}
}

@media all and (max-width: 530px) {
	.menu-overlay {
		height: 140px;
	}

	.hamburger-icon {
		padding-right: 20px;
		padding-top: 10px;
	}
}

@media all and (max-width: 321px) {
	.menu-overlay {
		height: 150px;
	}

	.hamburger-icon {
		padding-right: 40px;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
	body {
		width: 100%;
	}

	.col_12 {
		width: 70%;
		margin-right: 15%;
		margin-left: 15%;
	}

	.stick-footer {
		position: relative;
	}

}
/*IE10+ CSS for desktop only*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min-width: 768px) {
	/*upcoming events padding fix*/
	.events .col_4:first-child {
		/*margin-left: 15%;*/
	}

	.events .col_4:last-child {
		/*margin-right: 10%;*/
	}


	.event_block {
		/*max-width: 22%;*/
	}

	/*past events padding fix*/
	.past_events {
/*		width: 25%;
		padding-left: 100px;*/
	}


}

}
