
<div class="mobileWrapper" role="presentation" data-ng-cloak >
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="grid main-page-content">
    <!-- lightbox container hidden with data-ng-if -->
		<section data-ng-controller="UserLoggingCtrl">
			<div class="lightbox" data-ng-if="showSpinner" >
			  <div class="inner-lightbox-box">
			    <p data-ng-if="showSpinner" class="modal-title">{{retryMsg}}</p>
			    <div class="modal-content">
				    	<i class="fa fa-spinner fa-spin fa-5x fa-fw logout-spinner"></i>
			  		<br>
			  	</div>
			  </div>
			</div>
		  <form data-ng-submit="signIn(user)" name="loginForm" id="loginForm">
		    <label for="username">Username/email</label>
		    <input type="text" name="username" data-ng-model="user.username" placeholder="username/email">
		    <label for="password">Password</label>
		    <input type="password" name="password" data-ng-model="user.password" placeholder="password">
		    <button type="submit">Sign In</button>
		  </form>
		</section>
  </main>
</div>
