<div class="mobileWrapper ng-cloak" role="presentation">
  <main style="overflow:hidden;" class="container" role="presentation" data-ng-controller="EditFilesCtrl" data-ng-init="getAllFiles()">
    <div data-ng-include="'/app/components/admin/admin-header/admin-header.html'"></div>
    <section role="presentation" class="internetExplorer" data-ng-controller="AdminPageCtrl">
      <div class="row" role="presentation">
        <div class="col-lg-24" role="presentation">
          <h2>Files:</h2>
        </div>
      </div>
     <form id="deleteFilesForm" enctype="multipart/form-data" data-ng-submit="deleteFiles(filesToDelete)" make-auto-complete-false-directive>
      <div class="row" role="presentation">
        <div class="col-lg-24" role="presentation">
          <button class="btn btn-orange" name="photo" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'newSlideImage', getAllFiles)">Add File</button>
          <button type="submit" class="btn btn-danger" style="margin: 5px" id="delete-file-button">Delete</button>
          <label>Search: <input type="text" name="searchBox" ng-model="searchBox"></label>
        </div>
      </div>
      <div match-file-display-heights>
        <label ng-repeat="file in files | fileSearch:searchBox" class="file-container" for="file.fileName">{{file.fileName}}
          <br>
          <input type="checkbox" name="file.fileName" data-ng-model="filesToDelete[file.fileName]" value="file.fileName">
          <br>
          <br>
          <img class="img-thumbnail" data-ng-if="file.isImage" data-ng-src="{{file.fileLink}}">        
          <i data-ng-if="!file.isImage" class="win-icon win-icon-Page win-icon-size-xl text-align-center" ng-hidden="!file.isImage"></i>
        </label>
      </div>     
     </form>
    </section>
  </main>
</div>