<div class="mobileWrapper ng-cloak" role="presentation">
  <main style="overflow:hidden;" class="container" role="presentation" data-ng-controller="EditFilesCtrl" data-ng-init="getAllFiles()">
    <div class="container admin-header-container" role="presentation">
	<div class="row" role="presentation">
		<div class="col-lg-24" role="presentation" ng-controller="AdminHeaderCtrl">
			<ul class="nav nav-tabs nav-justified" admin-header-directive>
			  <li role="presentation"><a href="/admin/edit-event">Events</a></li>
			  <li role="presentation"><a href="/admin/edit-speaker">Speakers</a></li>
			  <!--<li role="presentation"><a href="/admin/slideshow">Slideshow</a></li>-->
			  <li role="presentation"><a href="/admin/edit-files">Uploads</a></li>
			  <li role="presentation" data-ng-if="showAccountButton"><a href="/admin/account">Account</a></li>
			  <li role="presentation"><a href="/admin/help">Help</a></li>
			  <li role="presentation" ng-controller="UserLoggingCtrl"><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
    <section role="presentation" class="internetExplorer" data-ng-controller="AdminPageCtrl">
      <div class="row" role="presentation">
        <div class="col-lg-24" role="presentation">
          <h2>Files:</h2>
        </div>
      </div>
     <form id="deleteFilesForm" enctype="multipart/form-data" data-ng-submit="deleteFiles(filesToDelete)" make-auto-complete-false-directive>
      <div class="row admin-header-div-with-button" role="presentation">
          <button class="btn btn-primary" name="photo" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'newSlideImage', getAllFiles)">Add File</button>
          <button type="submit" class="btn btn-danger" style="margin: 5px" id="delete-file-button">Delete</button>
          <label>Search: <input type="text" name="searchBox" ng-model="searchBox" class="form-control"></label>
      </div>
      <div match-file-dispaly-heights>
        <label ng-repeat="file in files | fileSearch:searchBox" class="file-container" for="file.fileName"><p>{{file.fileName}}</p>
          <input type="checkbox" name="file.fileName" data-ng-model="filesToDelete[file.fileName]" value="file.fileName">
          <img class="img-thumbnail" data-ng-if="file.isImage" data-ng-src="{{file.fileLink}}">        
          <i data-ng-if="!file.isImage" class="win-icon win-icon-Page win-icon-size-xl text-align-center" ng-hidden="!file.isImage"></i>
        </label>
      </div>     
     </form>
    </section>
  </main>
</div>