<div class="mobileWrapper ng-cloak" role="presentation">
  <main style="overflow:hidden;" class="container-fluid main-page-content" role="presentation" data-ng-controller="EditFilesCtrl" data-ng-init="getAllFiles()">
    <section role="presentation" class="internetExplorer" data-ng-controller="AdminPageCtrl">
     <h2>Files:</h2>
     <form id="deleteFilesForm" enctype="multipart/form-data" data-ng-submit="deleteFiles(filesToDelete)">
      <button class="btn btn-primary" name="photo" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'newSlideImage', getAllFiles)">Add File</button>
      <button type="submit" class="btn btn-danger" style="margin: 5px" id="delete-file-button">Delete</button>
      <div data-ng-repeat="file in files" ng-if="$index % 4 === 0 " class="row">
        <div class="col-md-3">
          <label class="file-container" for="files[$index].fileName">{{files[$index].fileName}}
            <br>
            <input type="checkbox" name="files[$index].fileName" data-ng-model="filesToDelete[files[$index].fileName]" value="files[$index].fileName">
            <br>
            <br>
            <img data-ng-if="files[$index].isImage" data-ng-src="{{files[$index].fileLink}}">        
            <i data-ng-if="!files[$index].isImage" class="fa fa-file fa-5x" aria-hidden="true"></i>
          </label>        
        </div>
        <div class="col-md-3">
          <label class="file-container" for="files[$index + 1].fileName" data-ng-if="files.length > ($index + 1)">{{files[$index + 1].fileName}}
            <br>
            <input type="checkbox" name="files[$index + 1].fileName" data-ng-model="filesToDelete[files[$index + 1].fileName]" value="files[$index + 1].fileName">
            <br>
            <br>
            <img data-ng-if="files[$index + 1].isImage" data-ng-src="{{files[$index + 1].fileLink}}">        
            <i data-ng-if="!files[$index + 1].isImage" class="fa fa-file fa-5x" aria-hidden="true"></i>
          </label>          
        </div>
        <div class="col-md-3">
          <label class="file-container" for="files[$index + 2].fileName" data-ng-if="files.length > ($index + 2)">{{files[$index + 2].fileName}}
            <br>
            <input type="checkbox" name="files[$index + 2].fileName" data-ng-model="filesToDelete[files[$index + 2].fileName]" value="files[$index + 2].fileName">
            <br>
            <br>
            <img data-ng-if="files[$index + 2].isImage" data-ng-src="{{files[$index + 2].fileLink}}">        
            <i data-ng-if="!files[$index + 2].isImage" class="fa fa-file fa-5x" aria-hidden="true"></i>
          </label>          
        </div>
        <div class="col-md-3">
          <label class="file-container" for="files[$index + 3].fileName" data-ng-if="files.length > ($index + 3)">{{files[$index + 3].fileName}}
            <br>
            <input type="checkbox" name="files[$index + 3].fileName" data-ng-model="filesToDelete[files[$index + 3].fileName]" value="files[$index + 3].fileName">
            <br>
            <br>
            <img data-ng-if="files[$index + 3].isImage" data-ng-src="{{files[$index + 3].fileLink}}">        
            <i data-ng-if="!files[$index + 3].isImage" class="fa fa-file fa-5x" aria-hidden="true"></i>
          </label>          
        </div>
      </div>
     </form>
    </section>
  </main>
</div>