<main class="ng-cloak" aria-role="presentation">
	<section class="eventsBanner">
		<div class="gradient">
			<div class="container">
				<h1>Upcoming and Past Events</h1>
			</div>
		</div>
	</section>
	<section class="events container" data-ng-controller="FutureEventsCtrl" data-ng-init="getUpcomingEvents()">
		<h1>Upcoming Events</h1>
		<div class="row eventBoxRow">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-ng-repeat="event in upcomingEvents">
				<!--<a href="/{{event.eventUrl}}" class="eventBox" data-ng-style="{'background-image': 'url(/uploads/{{event.eventHeaderImage}})'}">
					<h2>{{event.eventName}}</h2>
					<a data-ng-href="{{event.eventRegistrationLink}}" class="btn registerButton">Register</a>
				</a>-->
				<div class="eventBox" data-ng-style="{'background-image': 'url(/uploads/{{event.eventHeaderImage}})'}">
                	<div class="eventText">
                    	<a class="eventUrl" href="/{{event.eventUrl}}"><h4>{{event.eventName}}</h4></a>
                        <a data-ng-if="event.eventRegistrationLink" class="eventRegistrationLink" data-ng-href="{{event.eventRegistrationLink}}">Register</a>
                	</div>
                </div>
			</div>
		</div>
	</section>
	<section class="past container" data-ng-controller="PastEventsCtrl" data-ng-init="getPastEvents()">
		<h1>Past Events</h1>
		<h4>Please select a year to view past events.</h4>
      	<select name="yearDropdown" id="yearDropdown" class="form-control" ng-options="pastEvent as pastEvent.year for pastEvent in pastEvents" ng-model="pastEvent">
        	<option value="selectYear">Select a Year</option>
      	</select>
      	<h5>Year: {{pastEvent.year}}</h5>
      	<div ng-if="!pastEvent.year">
        	<h6>No information available, please select a year.</h6>
      	</div>
      	<div ng-bind-html="pastEvent.calendarHtml" class="table-responsive"></div>
	</section>
</main>
