<main class="events grid" aria-role="presentation" data-ng-controller="FutureEventsCtrl" data-ng-init="getUpcomingEvents()" data-future-events-directive>
  <section class="col_12 internetExplorer" aria-role="presentation" id="{{futureEvent.city}}">
  	<div data-ng-repeat="futureEvent in futureEvents | orderBy: eventStartDate" data-ng-mouseover="$parent.riseText($event)" data-ng-mouseleave="$parent.lowerText($event)" class="col_{{futureEvent.colNum}} event_block clearfix" data-ng-attr-style="background-color: {{futureEvent.eventHighlightColor}}">
  		<a href="/{{futureEvent.eventUrl}}" data-ng-focus="$parent.showBorder($event)" data-ng-blur="$parent.removeBorder($event)">
  			<p>More Details</p>
  			<h1>{{futureEvent.city}}</h1>
  			<h3>{{futureEvent.eventName}}<br />{{futureEvent.eventDates}}</h3>
  		</a>
		</div>
  	<section tabindex="0" aria-label="Map of upcoming events" id="eventsMap" class="col_12" data-ng-controller="BingMapCtrl" data-bing-map-directive></section>
  </section>
</main>
