<header role="navigation" aria-label="header menu" data-ng-controller="FutureEventsCtrl" data-ng-init="getUpcomingEvents()">
	<!-- Begin upper purple menu -->
	<div class="menu-overlay hamburger-menu social-icons" style="background-color:{{futureEvents[0].eventHighlightColor}}">
	<!-- Begin Mobile "Hamburger Menu" -->
		<div class="float-right mobileHamburgerIcon">
			<i class="fa fa-bars fa-3x hamburger-icon"></i>
		</div>
	</div>
	<div class="hidden-div" style="display: none" style="background-color:{{futureEvents[0].eventHighlightColor}}">
		<ul class="hamburger-menu">
			<li class="mobile-menu"><a href="/#/"><span class="home">Home</span></a></li>
			<li class="mobile-menu"><a href="/future-events"><span>Find an Event</a></span></a></li>
			<li class="mobile-menu"><a href="/latest-news"><span>Get the Latest</span></a></li>
			<li class="mobile-menu"><a href="/meet-the-team"><span>Meet the Team</a></span></a></li>
			<li class="mobile-menu"><a href="/past-events"><span>Past Events</span></a></li>
		</ul>
	</div>
	<!-- End "Hamburger" Menu -->
	<!-- begin Gray Desktop Main menu -->
		<nav class="grid flex desktop-menu gray-menu" id="mainNav">
			<div><a id="navMenuBeginning" class="skipNavigation" target="_self" href="#eventNavigationMenu">Skip to Event Menu</a></a></div>
			<div><a class="skipNavigation" target="_self" href="#beginningOfContent">Skip to Main Content</a></a></div>
			<div><a class="skipNavigation" target="_self" href="#footerStartMenuItem">Skip to Footer</a></a></div>
		<div class="col_2 center-block">
			<div class="col_2 center-block menu-block home-menu-button"><a href="/#/">Home</a></div>
		</div>
			<div class="col_2 center-block">
				<div class="col_2 center-block menu-block upcominEventsBlock"><a href="/future-events">Find an Event</a></div>
			</div>
		<div style="display: none;">
		</div>
		<div class="col_2 center-block">
			<div class="col_2 center-block menu-block latest-news-menu-block"><a href="/latest-news">Get the Latest</a></div>
		</div>
		<div class="col_2 center-block">
			<div class="col_2 center-block menu-block meet-the-team-menu-block"><a href="/meet-the-team">Meet the Team</a></div>
		</div>
		<div class="col_2 center-block">
			<div class="col_2 center-block menu-block past-events-header-menu-block"><a href="/past-events">Past Events</a></div>
		</div>
	</nav>
	<!-- End gray desktop menu -->
	<!-- Begin Image section/slider -->
	<div data-ng-show="isCurrentPage('/')" data-ng-controller="HeaderController" data-ng-init="getSiteStyle();">
		<!-- static image of past events banner for homepage -->
		<!-- <a data-ng-if="(!siteStyles.showSlider && siteStyles.showPastEventsBanner && siteStyles.hideEventBanners) || imageCount <= 0" class="homepageHeaderAnchor" title="past events link" href="/past-events" aria-label="past events banner image">
			<section id="headerImage" class="mobileWrapper">
				<img aria-hidden="true" alt="past events header" style="width:100%; margin: 	0 0 0 0; padding: 0 0 0 0;" src="./app/uploads/past-events-banner.jpg" />
			</section>
		</a> -->
		<!-- the rn-carousel package creates the slider https://www.npmjs.com/package/angular-carousel -->
		<!-- <ul data-ng-if="(siteStyles.showSlider && !siteStyles.showPastEventsBanner && !siteStyles.hideEventBanners) && imageCount > 0" rn-carousel rn-carousel-controls-allow-loop rn-carousel-controls rn-carousel-auto-slide="3" data-slider-directive id="upcoming-events-carousel" class="image" style="margin-left:0;margin-bottom:0;"> -->
		<ul rn-carousel rn-carousel-controls-allow-loop rn-carousel-controls rn-carousel-auto-slide="3" data-slider-directive id="upcoming-events-carousel" class="image" style="margin-left:0;margin-bottom:0;">
  		<li data-ng-repeat="futureEvent in futureEvents" data-ng-if="futureEvent.eventHomepageImage">
  		  <div outer-height class="layer" data-slider-slide-directive>
  		  	<a href="/{{futureEvent.eventUrl}}">
  		  		<img class="carousel-img" data-ng-src="/app/uploads/{{ futureEvent.eventHomepageImage }}" />
		  		</a>
		  	</div>
  		</li>
		</ul>
	</div>
	<!-- End image section -->
	<!-- Begin upcoming events desktop menu -->
	<nav class="menu-overlay desktop-menu flex clearfix" style="background-color:{{futureEvents[0].eventHighlightColor}}">
		<div class="col_12 purpleEventMenu">
			<a data-ng-repeat="futureEvent in futureEvents | orderBy: eventStartDate" href="/{{futureEvent.eventUrl}}">{{futureEvent.city}} &nbsp &nbsp<span class="purpleSubMenu">{{futureEvent.startYear}}</span> <span ng-show=" ! $last ">&nbsp &nbsp|</span></a>
		</div>
	</nav>
	<!-- End upcoming events desktop menu -->
</header>