<div class="mobileWrapper container" role="presentation" data-ng-cloak data-ng-init="getUser();">
  <div id="edit-menu-options" class="btn-group edit-section row" role="group" aria-label="edit tab buttons" style="display: none;">
    <div role="presentation" class="col-lg-24">
      <div class="edit-event-menu-button-wrapper">
        <button type="button" class="btn btn-primary" data-ng-if="interopAdmin">My Account</button>
        <button id="edit-tabs-dropdown" type="button" class="btn btn-primary">Other Accounts</button>
      </div>
    </div>
  </div>
  <div style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="row">
		<div role="presentation" class="col-lg-24">
      <h2>User:</h2>
      <button class="btn btn-orange middle-align">Add New Account</button>
			<p>{{user}}</p>
		</div>		
  </div>
  <div class="row" role="presentation">
    <form id="basicUserForm" class="col-lg-24" name="basicUserForm" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="userName">Username</label>
        <input class="form-control" type="text" data-ng-model="user.name" placeholder="{{user.name}}">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" id="email" type="text" data-ng-model="user.email" placeholder="{{user.email}}">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" id="password" type="password" data-ng-model="user.password" placeholder="New Password">
        <div ng-messages="basicUserForm.pwConfirm.$error" ng-if="basicUserForm.$submitted || basicUserForm.pwConfirm.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
          <div ng-message="passwordMatch" class="message slide-left win-color-fg-alert">Your passwords did not match</div>
        </div>
      </div>
      <div class="form-group">
        <input match-password="password" id="pwConfirm" name="pwConfirm" class="form-control" type="password" data-ng-model="user.confirmPw" placeholder="Confirm Password">
      </div>
    </form>
  </div>
</div>
