<main class="supportSection container">
    <h1 align="center">Support</h1>
    <section class="col-xs-12">
        <h3>Additional Resources</h3>
        <p>Developers who are working with and implementing Microsoft Open Specifications can obtain assistance from Microsoft and its engineers, including managed technical support, through a variety of means:</p>
        <ul>
            <li>Forums</li>
            <li>Microsoft Knowledge Base</li>
            <li>Other support options, including Microsoft Support, chat, blogs, and partner programs</li>
        </ul>
        <p>For more information about support options, email the <a href="mailto:dochelp@microsoft.com">Interop Documentation Support Team</a>. To see the latest interoperability news posts, visit the <a href="#">news page</a>.</p>
    </section>
    <section class="col-xs-12">
        <h3>Ask a Question in the Forums</h3>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_binaryfile">Office XML, ODF, and Binary File Formats</a>
        <ul>
            <li>Discuss the technical content and implementation of the Office binary file formats (.doc, .xls, .ppt, .pst, etc.), the Open XML file formats (ISO/IEC 29500) (.docx, .xlsx, .pptx, etc.), the ODF 1.1 standard, and the Open Packaging Conventions APIs (ISO/IEC 29500-2). For questions about the Open XML format itself, visit the forums on OpenXMLDeveloper.org.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_office">Office Protocols</a>
        <ul>
            <li>Discuss the techncial content and implementation of the Office protocols described in the Open Specifications.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_exchangeprotocols">Exchange Server Protocols</a>
        <ul>
            <li>Discuss the technical content and implementation of the Exchange Server protocols described in the Open Specifications.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_sharepoint">SharePoint Server Protocols</a>
        <ul>
            <li>Discuss the technical content and implementation of the SharePoint Server protocols described in the Open Specifications.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_sqlserver">SQL Server Protocols</a>
        <ul>
            <li>Discuss the technical content and implementation of the SQL Server protocols described in the Open Specifications.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_fileservices">Windows File Sharing Protocols</a>
        <ul>
            <li>Discuss the technical content and implementation of Server Message Block (SMB) protocols described in the Open Specifications.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_windowsprotocols">Windows Protocols</a>
        <ul>
            <li>Discuss the technical content and implementation of the Windows (including .NET Framework) protocols described in the Open Specifications.</li>
        </ul>
        <a href="https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_specifications">Open Specifications Questions</a>
        <ul>
            <li>Discuss the technical content and implementation of the Open Specifications documents, their organization, language conventions, references, and interoperability scenarios.</li>
        </ul>
    </section>
    <section class="row">
        <div class="col-md-4">
            <h3>Microsoft Support</h3>
            <ul>
                <li><a href="https://support.microsoft.com/en-us">Microsoft Support</a></li>
                <li><a href="https://answers.microsoft.com/en-us/?auth=1">Ask the community</a></li>
                <li><a href="https://support.microsoft.com/en-us/contactus?ws=support&SegNo=2&wa=wsignin1.0">Chat or call</a></li>
                <li><a href="https://support.microsoft.com/en-us/lifecycle">How long is my product supported?</a></li>
                <li><a href="https://technet.microsoft.com/en-us/ms772425.aspx">Microsoft TechNet Technical Support</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Interoperability at Microsoft</h3>
            <ul>
                <li><a href="https://blogs.msdn.microsoft.com/officeinteroperability/">Office Interoperability Blog</a></li>
                <li><a href="https://blogs.msdn.microsoft.com/openspecification/">Open Specifications Support Team Blog</a></li>
                <li><a href="#">Microsoft Openess Blog</a></li>
                <li><a href="https://blogs.msdn.microsoft.com/interoperability/">Interoperability @ Microsoft Blog</a></li>
                <li><a href="http://www.interoperabilitybridges.com/">Interoperability Bridgets and Labs</a></li>
                <li>Follow us on Twitter: <a href="https://twitter.com/OSpecifications">@OSpecifications</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Partner Programs</h3>
            <ul>
                <li><a href="https://partner.microsoft.com/en-US/">Microsoft Partner Program</a></li>
                <li><a href="https://partner.microsoft.com/en-US/isv-resource-hub">Independent Software Vendors</a></li>
                <li><a href="https://developer.microsoft.com/en-us/windows/hardware">Windows Hardware Development Center</a></li>
            </ul>
        </div>
    </section>
</main>