
<div class="mobileWrapper ng-cloak ng-cloak" role="presentation" ng-controller="AdminPageCtrl" data-ng-init="getEvents(); getAllSpeakers()" data-admin-page-directive>
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="grid main-page-content">
    <section role="presentation" class="col_12 internetExplorer">
			<h3>New Event</h3>
			<form id="addNewEventForm" name="addNewEventForm" method="post" enctype="multipart/form-data" data-ng-init="getAllSpeakers();" data-ng-submit="createNewEvent(newEvent);">
				<label class="col_12" for="newEventName">Event Name*
					<input class="col_12" type="text" data-ng-model="newEvent.newEventName" name="newEventName" id="newEventName" data-ng-required="required">
				</label>
				<label class="col_12" for="eventUrl">Event URL*
					<br>
					<div class="col_1 float-left">interopevents.com/</div>
					<input class="col_11" type="text" data-ng-model="newEvent.eventUrl" name="eventUrl" id="eventUrl">
				</label>				
				<label class="col_12" for="newEventRegistrationLink">Event Registration Link
					<input class="col_12" type="url" data-ng-model="newEvent.newEventRegistrationLink" name="newEventRegistrationLink" id="newEventRegistrationLink">
				</label>
				<label class="col_12 ui-widget" for="newEventCity">Event City*
					<input class="col_12 ui-widget-content" type="text" data-ng-model="newEvent.newEventCity" name="newEventCity" id="newEventCity" data-ng-required="required" admin-city-name-auto-complete-directive>
				</label>
				<label class="col_12" for="newEventState">Event State
					<input class="col_12" type="text" data-ng-model="newEvent.newEventState" name="newEventState" id="newEventState">
				</label>
				<label class="col_12" for="newEventCountry">Event Country
					<input class="col_12" type="text" data-ng-model="newEvent.newEventCountry" name="newEventCountry" id="newEventCountry">
				</label>
				<br>
				<br>
				<div class="time-input-wrapper">
					<label for="newEventStartDate">Event Start Date (Can include time of day)
						<input class="col_12" type="datetime-local" data-ng-model="newEvent.newEventStartDate" name="newEventStartDate" id="newEventStartDate">
					</label>
					<br><br>
					<label for="newEventEndDate">Event End Date (Can include time of day)
						<input class="col_12" type="datetime-local" data-ng-model="newEvent.newEventEndDate" name="newEventEndDate" id="newEventEndDate">
					</label>
				</div>
				<br>
				<label class="col_12" for="showOnHeader">Show this event on the header menu?
					<br>
					<radiogroup class="time-input-wrapper" id="showOnHeader">
						<label>Yes
							<input class="" type="radio" id="showOnHeaderTrue" data-ng-model="newEvent.showOnHeader" value="true">
						</label>
						<label>No
							<input class="" type="radio" id="showOnHeaderFalse" data-ng-model="newEvent.showOnHeader" value="false" ng-checked="true">						
						</label>
					</radiogroup>
				</label>
				<br>
				<br>
				<label class="col_12" for="continentsInput">Choose Event Continent
					<radiogroup class="col_12" id="continentsInput" data-ng-required="required">
						<label for="northAmericaInput">North America
							<input class="float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="northAmericaInput" name="newEventContinent" value="North America">
						</label>
						<br>
						<label for="southAmericaInput">South America
							<input class="float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="southAmericaInput" name="newEventContinent" value="South America">
						<br>
						<label for="asia">Asia</label>
							<input class="float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="asia" name="newEventContinent" value="Asia">
						</label>
						<br>
						<label for="europeInput">Europe
							<input class="float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="europeInput" name="newEventContinent" value="Europe">
						</label>
						<br>
						<label for="africaInput">Africa
							<input class="float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="africaInput" name="newEventContinent" value="Africa">
						</label>
						<br>
						<label for="australiaInput">Australia
							<input class="float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="australiaInput" name="newEventContinent" value="Oceania">
						</label>
					</radiogroup>
				</label>
				<br>
				<br>
				<label class="col_12" for="new-event-description">About page Content*
					<br>
					<div class="col_12">
						<textarea class="col_12 form-control" data-ng-model="newEvent.eventAboutTabText" name="new-event-description" style="min-height: 200px" data-ng-required="required" 
					data-ui-tinymce="tinymceOptions">
	      		</textarea>						
					</div>
      	</label>
	    	<label class="col_12" for="newEventVenueName">Venue Name
					<input class="col_12" type="text" data-ng-model="newEvent.newEventVenueName" name="newEventVenueName" id="newEventVenueName">
				</label>
				<label class="col_12" for="newVenduAddressLine1">Street Address
					<input class="col_12" type="text" data-ng-model="newEvent.newVenduAddressLine1" name="newVenduAddressLine1" id="newVenduAddressLine1">
				</label>
				<label class="col_12" for="newVenueAddressLine2">City, State, Country
					<input class="col_12" type="text" data-ng-model="newEvent.newVenueAddressLine2" name="newVenueAddressLine2" id="newVenueAddressLine2">
				</label>
				<label class="col_12" for="newVenueParkingInfo">Parking Information
					<textarea class="col_12" data-ng-model="newEvent.newVenueParkingInfo" name="newVenueParkingInfo" id="newVenueParkingInfo"></textarea>
				</label>
				<div data-ng-controller="AdminPageCtrl">
					<button class="btn btn-default" name="venuePhoto" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'eventVenueImg')">Select Venue Image</button>
				</div>
	  		<br>
	    	<div data-ng-controller="AdminPageCtrl">
		  		<button class="btn btn-default" name="photo" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'eventHeaderImg')">Select Header Image</button>
		  		<br><br>
		  		<!-- File:
		  		<div style="font:smaller">{{eventHeaderImg.path}}{{eventHeaderImg.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
		  		    <span class="progress" ng-show="eventHeaderImg.progress >= 0">
		  		        <div style="width:{{eventHeaderImg.progress}}%"  
		  		             ng-bind="eventHeaderImg.progress + '%'"></div>
		  		    </span>
		  		</div>     
		  		{{errorMsg}} -->
	    			
	    	</div>
	    	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-event-speakers-modal">Select Speakers</button>
	    	<div class="container">			
			  <div class="modal fade" id="create-event-speakers-modal" role="dialog" create-event-close-modal-directive>
			    <div class="modal-dialog">			    
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="btn btn-success float-left" data-dismiss="modal">Save</button>
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div class="modal-body">
			          <div data-ng-controller="AdminPageCtrl" class="clearfix">
			          	<h4 class="modal-title">Select Speakers</h4>
								  <div class="clearfix modal-container new-event-speakers-modal-container">
								    <div ui-sortable="newEventSortSpeakerOptions" data-ng-model="theSpeakers" class="new-event-speaker-table-container col_6 ">
								    	<h5>Available Speakers, Not Displayed</h5>
								      <div data-ng-repeat="speaker in theSpeakers" class="newEventSpeaker ui-state-default">
								      	<p>{{speaker.firstName + ' ' +  speaker.lastName}}</p>
							      	</div>
								    </div>
								    <div ui-sortable="newEventSortSpeakerOptions" data-ng-model="newSpeakers" class="new-event-speaker-table-container col_6 ">
								    	<h5>Speakers to Be Displayed with Event</h5>
								      <div data-ng-repeat="speaker in newSpeakers" class="newEventSpeaker ui-state-default">
								      	<span ng-hide="true">{{speaker.eventPosition = $index}}</span>
								      	<p>{{speaker.firstName + ' ' +  speaker.lastName}}</p>
							      	</div>
								    </div>
									</div>
    						</div>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
			        </div>
			      </div>			      
			    </div>
			  </div>			  
			</div>
				<br>
				<label for="add-event-speakers-list">
					<ul id="add-event-speakers-list" class="noStyleUL">
						<li data-ng-repeat="speaker in newEvent.speakers | orderBy: 'eventPosition'">{{speaker.fullName}}</li>
					</ul>
				</label>
				<br>
				<radiogroup class="col_12">
					<label for="publishedTrue">Publish Now
						<input data-ng-model="newEvent.publishStatus" type="radio" id="publishedTrue" name="publishStatus" value="true">
					</label>
					<br>
					<label for="publishedFalse">Save as Draft
						<input data-ng-model="newEvent.publishStatus" type="radio" id="publishedFalse" name="publishStatus" value="false" ng-checked="true">
					</label>
				</radiogroup>
				<button type="button" class="btn btn-warning btn-lg float-left" style="margin: 5px" id="cancel-new-event-button">Cancel</button>
				<button type="submit" class="btn btn-success btn-lg float-left" style="margin: 5px" id="save-new-event-as-draft-button">Save</button>
		    <button type="button" class="btn btn-default btn-lg float-left" data-toggle="modal" data-target="#new-event-add-venue-modal" style="margin: 5px">Preview</button>
			</form>
			<input name="image" type="file" id="upload" class="hideElem" onchange="">
    </section>
		<div class="modal fade" id="new-event-add-venue-modal" tabindex="-1" role="dialog" aria-labelledby="new-event-add-venue-modal-heading" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title" id="new-event-add-venue-modal-heading">Venue Information</h4>
		      </div>
		      <div class="modal-body">
					  <section data-ng-show="!isEmptyObj(newEvent) || eventHeaderImg || eventVenueImg" role="presentation" class="col_12 internetExplorer"">
				  		<p>Preview</p>
					  	<div data-ng-if="eventHeaderImg" class="col_12 internetExplorer event-header centered" id="eventHeader" role="complementary">
					  		<img alt="event banner image" data-ng-src="/uploads/{{eventHeaderImg.size + '-' + eventHeaderImg.name}}" />
				  		</div>
							<ul class="tabs left" id="previewEventUl">
					  	  <li class="current">
					  	    <a target="_self" href="#aboutTab"><h5>About</h5></a>
					  	  </li>
					  	  <li>
									<a target="_self" href="#venueTab"><h5>Venue</h5></a>
								</li>
								<li class="last">
									<a target="_self" href="#speakersTab"><h5>Speakers</h5></a>
								</li>
							</ul>
					  	<div id="aboutTab" class="current tab-content clearfix eventTabDiv">
					  	  <h2>{{newEvent.newEventName}}</h2>
					  	  <p>{{newEvent.eventAboutTabText}}</p>
					  	</div>
					  	<div id="venueTab" class="tab-content clearfix eventTabDiv">
					  	  <h2>{{newEvent.newEventVenueName}}</h2>
					  	  <div data-ng-if="eventVenueImg" class="col_12 internetExplorer event-header centered" id="venueImg" role="complementary">
					  			<img alt="event venue image" data-ng-src="/uploads/{{eventVenueImg.size + '-' + eventVenueImg.name}}" />
				  			</div>
					  	  <p>{{newEvent.newVenduAddressLine1}}</p>
					  	  <p>{{newEvent.newVenueAddressLine2}}</p>
					  	  <p>{{newEvent.newEventVenueImg}}</p>
					  	  <p>{{newEvent.newVenueParkingInfo}}</p>
					  	</div>
							<div id="speakersTab" class="tab-content eventTabDiv clearfix">
								<div data-ng-repeat="speaker in getPreviewSpeakers(theSpeakers)" class="col_12 internetExplorer" id="{{speaker.divId}}" aria-label="Bio of {{speaker.fullName}}" role	="presentation">
								  	<h4>{{speaker.fullName}}</h4>
								  	<h5>{{speaker.msTeamTitle}}</h5>
								  	<p>
								  		<img class="pull-left speakersImg" height="165" width="165" alt="image of {{speaker.fullName}}" data-ng-src="/uploads/{{speaker.headShot}}" />
								  		{{speaker.speakerDescription}}
					  			</p>
								  	<hr class="alt1" />
									</div>
							</div>	
					  </section>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
  </main>
</div>
