
<div class="mobileWrapper ng-cloak ng-cloak" role="presentation" ng-controller="AdminPageCtrl" data-ng-init="getEvents(); getAllSpeakers()" data-admin-page-directive>
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="container">
    <section role="presentation" class="row internetExplorer">
			<form id="addNewEventForm" class="col-lg-24" name="addNewEventForm" method="post" enctype="multipart/form-data" data-ng-init="getAllSpeakers();" data-ng-submit="createNewEvent(newEvent);">
				<h3>New Event</h3>
				<div role="presentation" class="form-group">
					<label for="newEventName">Event Name*</label>
					<input class="form-control" type="text" data-ng-model="newEvent.newEventName" name="newEventName" id="newEventName" data-ng-required="required">
				</div>
				<div class="form-group clearfix" role="presentation">
					<label for="eventUrl">Event URL*</label>
					<br>
					<div role="presentation" class="float-left">
						interopevents.com/
					</div>
					<input class="form-control col-lg-20 float-right" type="text" data-ng-model="newEvent.eventUrl" name="eventUrl" id="eventUrl" style="width: 90%" unique-url-directive required>
					<div ng-messages="addNewEventForm.eventUrl.$error" role="alert" class="col-lg-offset-8 col-lg-16 col-md-offset-12 col-md-12 col-sm-24" style="position: absolute;">
						<div ng-message="uniqueUrl" class="win-color-fg-alert alert-warning">This URL has already been used. Please select a different URL</div>
					</div>
				</div>
				<div class="form-group" role="presentation">
					<label for="newEventRegistrationLink">Event Registration Link (must be a propertly formed url with http:// or https://)</label>
					<input class="form-control" type="url" data-ng-model="newEvent.newEventRegistrationLink" name="newEventRegistrationLink" id="newEventRegistrationLink">				
				</div>
				<div role="presentation" class="form-group">
					<label for="eventTechnicalTopics">Technical Topics</label>
					<input class="form-control" type="text" data-ng-model="newEvent.eventTechnicalTopics" name="eventTechnicalTopics" id="eventTechnicalTopics">
				</div>
				<div class="form-group" role="presentation">
					<label class="ui-widget" for="newEventCity">Event Location*</label>
					<input class="form-control ui-widget-content" type="text" data-ng-model="newEvent.newEventCity" name="newEventCity" id="newEventCity" admin-city-name-auto-complete-directive required>				
				</div>
				<label for="new-event-date-wrapper">Event Dates (Must include time of day)</label>
				<div id="new-event-date-wrapper" role="presentation">
					<div class="time-input-wrapper form-group float-left" role="presentation">
						<label for="newEventStartDate">Start</label>
						<input class="form-control" type="datetime-local" data-ng-model="newEvent.newEventStartDate" name="newEventStartDate" id="newEventStartDate">									
					</div>
					<div class="time-input-wrapper form-group float-left" role="presentation">					
						<label for="newEventEndDate">End</label>
						<input class="form-control" type="datetime-local" data-ng-model="newEvent.newEventEndDate" name="newEventEndDate" id="newEventEndDate">					
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group" role="presentation">
					<label for="showOnHeader">Show this event on the header menu?
						<div class="clearfix"></div>
						<radiogroup class="time-input-wrapper" id="showOnHeader">
							<label>Yes
								<input clss="form-control" type="radio" id="showOnHeaderTrue" data-ng-model="newEvent.showOnHeader" value="true">
							</label>
							<label>No
								<input clss="form-control" type="radio" id="showOnHeaderFalse" data-ng-model="newEvent.showOnHeader" value="false" ng-checked="true">						
							</label>
						</radiogroup>
					</label>
				</div>				
				<div class="form-group" role="presentation">
					<label for="continentsInput">Choose Event Continent
						<div class="clearfix"></div>
						<radiogroup id="continentsInput" data-ng-required="required">
							<label for="northAmericaInput">North America
								<input class="form-control float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="northAmericaInput" name="newEventContinent" value="North America">
							</label>
							<br>
							<label for="southAmericaInput">South America
								<input class="form-control float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="southAmericaInput" name="newEventContinent" value="South America">
							</label>
							<br>
							<label for="asia">Asia</label>
								<input class="form-control float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="asia" name="newEventContinent" value="Asia">
							</label>
							<br>
							<label for="europeInput">Europe
								<input class="form-control float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="europeInput" name="newEventContinent" value="Europe">
							</label>
							<br>
							<label for="africaInput">Africa
								<input class="form-control float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="africaInput" name="newEventContinent" value="Africa">
							</label>
							<br>
							<label for="australiaInput">Australia
								<input class="form-control float-left" data-ng-model="newEvent.newEventContinent" type="radio" id="australiaInput" name="newEventContinent" value="Oceania">
							</label>
						</radiogroup>
					</label>
				</div>
				<div class="form-group" role="presentation">
				<label for="new-event-description">About page Content*</label>
						<textarea class="form-control" data-ng-model="newEvent.eventAboutTabText" name="new-event-description" data-ng-required="required" 
					data-ui-tinymce="tinymceOptions"></textarea>
				</div>
				<div class="form-group" role="presentation">
	    		<label for="newEventVenueName">Venue Name</label>
					<input class="form-control" type="text" data-ng-model="newEvent.newEventVenueName" name="newEventVenueName" id="newEventVenueName">				
				</div>
				<div class="form-group" role="presentation">
					<label for="newVenduAddressLine1">Street Address</label>
					<input class="form-control" type="text" data-ng-model="newEvent.newVenduAddressLine1" name="newVenduAddressLine1" id="newVenduAddressLine1">				
				</div>
				<div class="form-group" role="presentation">
					<label for="newVenueAddressLine2">City, State, Country</label>
					<input class="form-control" type="text" data-ng-model="newEvent.newVenueAddressLine2" name="newVenueAddressLine2" id="newVenueAddressLine2">				
				</div>
				<div class="form-group" role="presentation">
					<label for="newVenueParkingInfo">Parking Information</label>
					<textarea class="form-control" data-ng-model="newEvent.newVenueParkingInfo" name="newVenueParkingInfo" id="newVenueParkingInfo"></textarea>				
				</div>
				<div role="presentation" match-button-size-directive>
					<div data-ng-controller="AdminPageCtrl">
						<button class="btn btn-default" name="venuePhoto" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'eventVenueImg')">Select Venue Image</button>
					</div>
		  		<br>
		    	<div data-ng-controller="AdminPageCtrl">
			  		<button class="btn btn-default" name="photo" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'eventHeaderImg')">Select Header Image</button>
			  		<br><br>
			  		<!-- File:
			  		<div style="font:smaller">{{eventHeaderImg.path}}{{eventHeaderImg.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
			  		    <span class="progress" ng-show="eventHeaderImg.progress >= 0">
			  		        <div style="width:{{eventHeaderImg.progress}}%"  
			  		             ng-bind="eventHeaderImg.progress + '%'"></div>
			  		    </span>
			  		</div>     
			  		{{errorMsg}} -->
		    			
		    	</div>
		    	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-event-speakers-modal">Select Speakers</button>			  
				</div>
				<br>
				<label for="add-event-speakers-list">
					<ul id="add-event-speakers-list" class="noStyleUL">
						<li data-ng-repeat="speaker in newEvent.speakers | orderBy: 'eventPosition'">{{speaker.fullName}}</li>
					</ul>
				</label>
				<div class="form-group" role="presentation">
					<radiogroup>
						<label for="publishedTrue">Publish Now
							<input data-ng-model="newEvent.publishStatus" type="radio" id="publishedTrue" name="publishStatus" value="true">
						</label>
						<br>
						<label for="publishedFalse">Save as Draft
							<input data-ng-model="newEvent.publishStatus" type="radio" id="publishedFalse" name="publishStatus" value="false" ng-checked="true">
						</label>
					</radiogroup>
				</div>
				<button type="button" class="btn btn-default btn-lg float-left" style="margin: 5px" id="cancel-new-event-button" ng-click="cancelNewEvent()">Cancel</button>
		    <button type="button" class="btn btn-default btn-lg float-left" data-toggle="modal" data-target="#new-event-add-venue-modal" style="margin: 5px">Preview</button>
				<button type="submit" class="btn btn-green btn-lg float-left" style="margin: 5px" id="save-new-event-as-draft-button">Save</button>
				<input name="image" type="file" id="upload" class="hideElem" onchange="">
			</form>
    </section>
  <div class="modal fade" id="create-event-speakers-modal" role="dialog" create-event-close-modal-directive>
    <div class="modal-dialog">			    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn btn-success float-left" data-dismiss="modal">Save</button>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <div data-ng-controller="AdminPageCtrl" class="clearfix">
          	<h4 class="modal-title">Select Speakers</h4>
					  <div class="clearfix modal-container new-event-speakers-modal-container">
					    <div ui-sortable="newEventSortSpeakerOptions" data-ng-model="theSpeakers" class="new-event-speaker-table-container col-lg-12 ">
					    	<h5>Available Speakers, Not Displayed</h5>
					      <div data-ng-repeat="speaker in theSpeakers" class="newEventSpeaker ui-state-default">
					      	<p>{{speaker.fullName}}</p>
				      	</div>
					    </div>
					    <div ui-sortable="newEventSortSpeakerOptions" data-ng-model="newSpeakers" class="new-event-speaker-table-container col-lg-12 ">
					    	<h5>Speakers to Be Displayed with Event</h5>
					      <div data-ng-repeat="speaker in newSpeakers" class="newEventSpeaker ui-state-default">
					      	<span ng-hide="true">{{speaker.eventPosition = $index}}</span>
					      	<p>{{speaker.fullName}}</p>
				      	</div>
					    </div>
						</div>
					</div>
          <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
        </div>
      </div>			      
    </div>
		<div class="modal fade" id="new-event-add-venue-modal" tabindex="-1" role="dialog" aria-labelledby="new-event-add-venue-modal-heading" aria-hidden="true">
		  <div class="modal-dialog preview-modal" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title" id="new-event-add-venue-modal-heading">Preview</h4>
		      </div>
		      <div class="modal-body row">
					  <section data-ng-show="!isEmptyObj(newEvent) || eventHeaderImg || eventVenueImg" role="presentation" class="col-lg-24 internetExplorer" events-directive>
					  	<div data-ng-if="eventHeaderImg" class="internetExplorer event-header centered" id="eventHeader" role="complementary">
					  		<img alt="event banner image" data-ng-src="/uploads/{{eventHeaderImg.size + '-' + eventHeaderImg.name}}" />
				  		</div>
							<ul class="tabs left" id="previewEventUl">
					  	  <li class="current">
					  	    <a target="_self" href="#aboutTab"><h5>About</h5></a>
					  	  </li>
					  	  <li>
									<a target="_self" href="#venueTab"><h5>Venue</h5></a>
								</li>
								<li class="last">
									<a target="_self" href="#speakersTab"><h5>Speakers</h5></a>
								</li>
							</ul>
					  	<div id="aboutTab" class="current tab-content clearfix eventTabDiv" ng-bind-html="newEvent.eventAboutTabText">
					  	  <!-- <h2>{{newEvent.newEventName}}</h2>
					  	  <p>{{newEvent.eventAboutTabText}}</p> -->
					  	</div>
					  	<div id="venueTab" class="tab-content clearfix eventTabDiv">
					  	  <h2>{{newEvent.newEventVenueName}}</h2>
					  	  <div data-ng-if="eventVenueImg" class="col_12 internetExplorer event-header centered" id="venueImg" role="complementary">
					  			<img alt="event venue image" data-ng-src="/uploads/{{eventVenueImg.size + '-' + eventVenueImg.name}}" />
				  			</div>
					  	  <p>{{newEvent.newVenduAddressLine1}}</p>
					  	  <p>{{newEvent.newVenueAddressLine2}}</p>
					  	  <p>{{newEvent.newEventVenueImg}}</p>
					  	  <p>{{newEvent.newVenueParkingInfo}}</p>
					  	</div>
							<div id="speakersTab" class="tab-content eventTabDiv clearfix">
								<div data-ng-repeat="speaker in newEvent.speakers" class="col_12 internetExplorer" id="{{speaker.divId}}" aria-label="Bio of {{speaker.fullName}}" role	="presentation">
								  	<h4>{{speaker.fullName}}</h4>
								  	<h5>{{speaker.msTeamTitle}}</h5>
								  	<p>
								  		<img class="pull-left speakersImg" height="165" width="165" alt="image of {{speaker.fullName}}" data-ng-src="/uploads/{{speaker.headShot}}" />
								  		{{speaker.speakerDescription}}
					  			</p>
								  	<hr class="alt1" />
									</div>
							</div>	
					  </section>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
  </main>
</div>
