<div class="container admin-header-container" role="presentation">
	<div class="row" role="presentation">
		<div class="col-lg-24" role="presentation" ng-controller="AdminHeaderCtrl">
			<ul class="nav nav-tabs nav-justified" admin-header-directive>
			  <li role="presentation"><a href="/admin/edit-event">Events</a></li>
			  <li role="presentation"><a href="/admin/edit-speaker">Speakers</a></li>
			  <li role="presentation"><a href="/admin/slideshow">Slideshow</a></li>
			  <li role="presentation"><a href="/admin/edit-files">Uploads</a></li>
			  <li role="presentation"><a href="/admin/help">Help</a></li>
			  <li role="presentation"><a href="" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>