<!-- <nav class="admin-menu container-fluid dropdown ng-cloak" data-admin-header-directive>
	<ul class="nav nav-justified button-bar" id="admin-menu-ul">
		<li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	      Create New 
	      <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
			<li><a href="/admin/create-event">Create Event</a></li>
			<li><a href="/admin/create-speaker">Create Speaker</a></li>
		</ul>
	  </li>
	  <li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	      Edit Elements 
	      <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
				<li><a href="/admin/edit-event">Edit Event</a></li>
				<li><a href="/admin/edit-speaker">Edit Speaker</a></li>
				<li><a href="/admin/edit-slider">Edit Homepage Slide Show</a></li>
			</ul>
	  </li>
	  <li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	     Delete Elements 
	     <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
				<li><a href="/admin/delete-event">Delete Event</a></li>
				<li><a href="/admin/delete-speaker">Delete Speaker</a></li>
			</ul>
	  </li>
	  <li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	     Help
	     <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
				<li><a href="/admin/help">Help</a></li>
			</ul>
	  </li>
	</ul>
</nav> -->
	<div class="grid clearfix" data-ng-controller="AdminHeaderCtrl">
		<div class="admin-header-wrapper" aria-hidden="true" role="presentation">
	    <div class="btn-group" uib-dropdown keyboard-nav>
	      <button id="admin-menu-button-events" type="button" class="btn btn-primary btn-lg" data-ng-click="goToPage('/admin/edit-event')">
	          Events
	      </button>
	      <button class="btn btn-primary btn-lg" uib-dropdown-toggle>
				  <span class="caret"></span>
				</button>
	      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="admin-menu-button-events">
	          <li role="menuitem"><a href="/admin/create-event">Create Event</a></li>
	          <li role="menuitem"><a href="/admin/edit-event">Edit Event</a></li>
	          <li role="menuitem"><a href="/admin/delete-event">Delete Event</a></li>
	      </ul>
	    </div>
	  	<div class="btn-group" uib-dropdown keyboard-nav>
	      <button id="admin-menu-speakers" type="button" class="btn btn-primary btn-lg" data-ng-click="goToPage('/admin/edit-speaker')">
	          Speakers
	      </button>
	      <button class="btn btn-primary btn-lg" uib-dropdown-toggle>
				  <span class="caret"></span>
				</button>
	      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="admin-menu-speakers">
	          <li role="menuitem"><a href="/admin/create-speaker">Create Speaker</a></li>
	          <li role="menuitem"><a href="/admin/edit-speaker">Edit Speaker</a></li>
	          <li role="menuitem"><a href="/admin/delete-speaker">Delete Speaker</a></li>
	      </ul>
	    </div>
	    <div class="btn-group" >
	      <button id="admin-menu-slideshow" type="button" class="btn btn-primary btn-lg" data-ng-click="goToPage('/admin/slideshow')">
	          Slideshow Settings
	      </button>
	    </div>
	    <div class="btn-group" >
	      <button id="admin-menu-help" type="button" class="btn btn-primary btn-lg" data-ng-click="goToPage('/admin/edit-files')">
	          Uploads
	      </button>
	    </div>
	    <div class="btn-group" >
	      <button id="admin-files-help" type="button" class="btn btn-primary btn-lg" data-ng-click="goToPage('/admin/help')">
	          Help
	      </button>
	    </div>
	    <div class="btn-group" >
	      <button id="admin-menu-help" type="button" class="btn btn-primary btn-lg" data-ng-click="logout()">
	          Logout
	      </button>
	    </div>
		</div>
  </div>