<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<!-- META -->
	<title>Future Events Microsoft Interop Events</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../css/custom.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../style.css" media="all" /> 	
</head>
<body>
	<header>
		<div id="grayMenu"></div>
		<div id="purpleMenu"></div>
	</header>
	<main class="events grid">
		<section class="col_12 internetExplorer">
		    <section id="eventsMap"></section>			
		</section>
		<section class="col_12 scroll-button">
			<i class="fa fa-chevron-up fa-3x"><p>Back to Top</p></i>
		</section>
	</main>
	<footer class="grid flex footer-at-bottom foot">
	</footer>
	<!-- Javascript -->
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
	<script charset="UTF-8" type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
	<script type="text/javascript" src="../lib/kickstart.js"></script>
	<script type="text/javascript" src="../dist/build.min.js"></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5660d6c488a1a100" async="async"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74698663-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
