
<div class="mobileWrapper ng-cloak" role="presentation" data-ng-controller="editSlideshowCtrl" data-ng-init="getAllSlideshows('homepageSlideshow')" >
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="grid main-page-content">
    <section role="presentation" class="col_12 internetExplorer">
			<div id="edit-slideshows">
				<h3>Slideshow</h3>
				{{compareArr}}
			  <div class="slide-table-container clearfix">
			    <div ui-sortable="sortableOptions" data-ng-model="slides" class="slides slide-table-container col_6">
			    	<h4>Available Slides, Not Displayed</h4>
			      <div data-ng-repeat="slideshowSlide in slides" class="slideshowSlide">
			      	<h5>Title: {{slideshowSlide.title}}</h5>
			      	<p>alt-text: {{slideshowSlide.altText}}</p>
			      	<p>linK: {{slideshowSlide.imgDestUrl}}</p>
			      	<img class="slideshowSettingsImg" data-ng-src="{{slideshowSlide.imgSrcUrl}}" />
		      	</div>
			    </div>
			    <div ui-sortable="sortableOptions" data-ng-model="slideshowSlides" class="slideshowSlides slide-table-container col_6">
			    	<h4>Slides to Be Displayed on Homepage</h4>
			      <div data-ng-repeat="slideshowSlide in slideshowSlides" class="slideshowSlide">
			      	<h5>Title: {{slideshowSlide.title}}</h5>
			      	<p>New position: {{$index + 1}} : Old position: {{slideshowSlide.SlideshowSlideAssc.sortPosition}}</p>
			      	<p>alt-text: {{slideshowSlide.altText}}</p>
			      	<p>linK: {{slideshowSlide.imgDestUrl}}</p>
			      	<img class="slideshowSettingsImg" data-ng-src="{{slideshowSlide.imgSrcUrl}}" />
		      	</div>
			    </div>
			    <!-- <div style="clear: both;"></div> -->
				</div>
				<button class="button large" data-ng-click="setNewSlideshowOrder()">Submit</button>
			</div>
			<div class="container">
			  <h2>Modal Example</h2>
			  <!-- Trigger the modal with a button -->
			  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
			
			  <!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Modal Header</h4>
			        </div>
			        <div class="modal-body">
			          <p>Some text in the modal.</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      
			    </div>
			  </div>
			  
			</div>
    </section>
  </main>
</div>
