<main class="clearfix ng-cloak">
    <section class="banner">
        <div class="container">
            <h1>Interop Dev Events</h1>
            <h3>Sub-header tag</h3>
        </div>
    </section>
    <section class="aboutInteropEvents container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="fa fa-book fa-3x" aria-hidden="true"></span>
                <h2>Learn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue nisi, tincidunt non maximus ut, porttitor at libero.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="fa fa-code fa-3x" aria-hidden="true"></span>
                <h2>Create</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue nisi, tincidunt non maximus ut, porttitor at libero.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="fa fa-users fa-3x" aria-hidden="true"></span>
                <h2>Interact</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue nisi, tincidunt non maximus ut, porttitor at libero.</p>
            </div>
        </div>
    </section>
    <section class="technology">
        <div class="container">
            <h1>Technology covered at events</h1>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <a href="https://www.office.com/" target="_blank" class="link" id="office">
                        <!--<div class="square" id="office">-->
                        <img src="app/css/img/office.svg" alt="Office Logo">
                        <p>Learn about protocols, Office, SharePoint, Exchange, and more.</p>
                        <!--</div>-->
                    </a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="https://www.microsoft.com/en-us/sql-server/" target="_blank" class="link" id="sql">
                        <!--<div class="square" id="sql">-->
                        <h2>Microsoft SQL Server</h2>
                        <p>Learn about SQL protocols.</p>
                        <!--</div>-->
                    </a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="https://www.microsoft.com/en-us/windows/" target="_blank" class="link" id="windows">
                        <!--<div class="square" id="windows">-->
                        <img src="app/css/img/windows.svg" alt="Windows Logo">
                        <p>Learn about protocols like SMB, RDP, and Active Directory.</p>
                        <!--</div>-->
                    </a>
                </div>
            </div>
            <div class="row">
                <a href="#" class="moreInfoLink">Click here for more information about technology covered at events.</a>
            </div>
        </div>
    </section>
    <section class="upcomingEvents" data-ng-controller="FutureEventsCtrl" data-ng-init="getUpcomingEvents()">
        <div class="container">
            <h1>Upcoming Events</h1>
            <div class="row eventsRow">
                <div class="col-xs-12 col-sm-12 col-md-6" data-ng-repeat="upcomingEvent in upcomingEvents|limitTo:2">
                    <div class="upcomingEventBox" data-ng-style="{'background-image': 'url(/uploads/{{upcomingEvent.eventHeaderImage}})'}">
                        <div class="eventText">
                            <a class="pull-left" href="/{{upcomingEvent.eventUrl}}"><h2>{{upcomingEvent.eventName}}</h2></a>
                            <a data-ng-href="" class="btn registerButton pull-right">Register</a>
                        </div>
                        <div class="eventTextMobile">
                            <a class="eventUrl" href="/{{upcomingEvent.eventUrl}}"><h4>{{upcomingEvent.eventName}}</h4></a>
                            <a class="eventRegistrationLink" data-ng-href="">Register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row moreInfoRow">
                <a href="/future-events" class="moreInfoLink">Click here to see upcoming and past events.</a>
            </div>
        </div>
    </section>
</main>