<main class="clearfix ng-cloak">
    <section class="banner">
        <div class="gradient">
            <div class="container">
                <h1>Interop Dev Events</h1>
                <h3>Sub-header tag</h3>
            </div>
        </div>
    </section>
    <section class="aboutInteropEvents container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="fa fa-book fa-3x" aria-hidden="true"></span>
                <h2>Learn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue nisi, tincidunt non maximus ut, porttitor at libero.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="fa fa-code fa-3x" aria-hidden="true"></span>
                <h2>Create</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue nisi, tincidunt non maximus ut, porttitor at libero.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span class="fa fa-users fa-3x" aria-hidden="true"></span>
                <h2>Interact</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue nisi, tincidunt non maximus ut, porttitor at libero.</p>
            </div>
        </div>
    </section>
    <section class="technology">
        <div class="container">
            <h1>Technologies covered at events</h1>
            <slick dots="true" infinite="true" speed=300 slides-to-show=4 touch-move="true" slides-to-scroll=1>
                <div>
                    <span class="fa fa-file fa-3x" aria-hidden="true"></span>
                    <h3>Office Protocols</h3>
                </div>
                <div>
                    <span class="fa fa-database fa-3x" aria-hidden="true"></span>
                    <h3>SQL</h3>
                </div>
                <div>
                    <span class="fa fa-windows fa-3x" aria-hidden="true"></span>
                    <h3>Windows</h3>
                </div>
                <div>
                    <h3>Microsoft Graph</h3>
                </div>
                <div>
                    <span class="fa fa-server fa-3x" aria-hidden="true"></span>
                    <h3>SMB/Active Directory</h3>
                </div>
                <div>
                    <span class="fa fa-desktop fa-3x" aria-hidden="true"></span>
                    <h3>RDP</h3>
                </div>
                <div>
                    <span class="fa fa-envelope fa-3x" aria-hidden="true"></span>
                    <h3>Exchange Protocols</h3>
                </div>
                <div>
                    <h3>SharePoint Protocols</h3>
                </div>
                <div>
                    <span class="fa fa-file-code-o fa-3x" aria-hidden="true"></span>
                    <h3>Office Developer Platform</h3>
                </div>
                <div>
                    <span class="fa fa-file-word-o fa-3x" aria-hidden="true"></span>
                    <h3>Office File Formats</h3>
                </div>
            </slick>
        </div>
        <!--<div class="container">
            <h1>Technology covered at events</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="https://www.office.com/" target="_blank" class="link" id="office">
                        <img src="app/css/img/office.svg" alt="Office Logo">
                        <p>Learn about protocols, Office, SharePoint, Exchange, and more.</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="https://www.microsoft.com/en-us/sql-server/" target="_blank" class="link" id="sql">
                        <h2>Microsoft SQL Server</h2>
                        <p>Learn about SQL protocols.</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="https://www.microsoft.com/en-us/windows/" target="_blank" class="link" id="windows">
                        <img src="app/css/img/windows.svg" alt="Windows Logo">
                        <p>Learn about protocols like SMB, RDP, and Active Directory.</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <a href="#" class="moreInfoLink">Click here for more information about technology covered at events.</a>
            </div>
        </div>-->
    </section>
    <section class="upcomingEvents" data-ng-controller="FutureEventsCtrl" data-ng-init="getUpcomingEvents()">
        <div class="container">
            <h1>Upcoming Events</h1>
            <div class="row eventsRow">
                <div class="col-xs-12 col-sm-12 col-md-12" data-ng-repeat="upcomingEvent in upcomingEvents">
                    <div class="upcomingEventBox">
                        <div class="eventPhoto" data-ng-style="{'background-image': 'url(/uploads/{{upcomingEvent.eventHeaderImage}})'}">
                        </div>
                        <div class="eventInfo">
                            <div class="eventText">
                                <a href="/{{upcomingEvent.eventUrl}}" class="eventUrl"><h2>{{upcomingEvent.eventName}}</h2></a>
                                <h4>{{upcomingEvent.eventLocation}}</h4>
                                <h4>{{upcomingEvent.eventDates}}</h4>
                                <h4>{{upcomingEvent.eventTechnicalTopics}}</h4>
                            </div>

                            <a href="{{upcomingEvent.eventRegistrationLink}}" class="btn eventRegistrationButton">Register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row moreInfoRow">
                <a href="/future-events" class="moreInfoLink">Click here to see upcoming and past events.</a>
            </div>
        </div>
    </section>
</main>