
<div class="mobileWrapper ng-cloak" role="presentation" data-ng-controller="AdminCreateEventCtrl" data-ng-init="getEvents(); getAllSpeakers()" >
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="container">
    <div class="container admin-header-container" role="presentation">
	<div class="row" role="presentation">
		<div class="col-lg-24" role="presentation" ng-controller="AdminHeaderCtrl">
			<ul class="nav nav-tabs nav-justified" admin-header-directive>
			  <li role="presentation"><a href="/admin/edit-event">Events</a></li>
			  <li role="presentation"><a href="/admin/edit-speaker">Speakers</a></li>
			  <li role="presentation"><a href="/admin/slideshow">Slideshow</a></li>
			  <li role="presentation"><a href="/admin/edit-files">Uploads</a></li>
			  <li role="presentation" data-ng-if="showAccountButton"><a href="/admin/account">Account</a></li>
			  <li role="presentation"><a href="/admin/help">Help</a></li>
			  <li role="presentation" ng-controller="UserLoggingCtrl"><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
	<section role="presentation" class="internetExplorer">
    	<!--<div role="presentation" class="row">
    	</div>-->
    	<div role="presentation" class="row">
				<div id="edit-speakers-list" class="col-lg-24" role="presentation">
					<div role="presentation">
						<a class="btn btn-orange" href="/admin/create-speaker">Add New</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<th><h4>Speaker Name</h4></th>
							<th><h4>Display on Meet the Team</h4></th>
							<th><h4>Last Modified By</h4></th>
							<th><h4>Last Modified</h4></th>
							<th colspan="2"><h4>Status</h4></th>
						</tr>
						<tr data-ng-repeat="speaker in theSpeakers | orderBy: 'firstName'">
							<td>{{speaker.fullName}}</td>
							<td>{{speaker.showOnMeetTheTeamPage === true ? 'True' : 'False'}}</td>
							<td>{{speaker.lastModifiedBy}}</td>
							<td>{{speaker.updatedAt | date: 'MM/dd/yyyy'}}</td>
							<td>{{publishedOrNot = speaker.isPublished ? 'Published' : 'Unpublished';}}</td>
							<td><button class="btn" ng-click="getSpeaker(speaker);">Edit</button></td>
							<td><button class="btn win-color-bg-alert whiteText" data-ng-click="deleteSpeaker(speaker);">Delete</button></td>
						</tr>
					</table>
				</div>
    	</div>
			<div id="edit-speakers-section" style="display: none;" ng-controller="AdminPageCtrl" role="presentation">
	 			<section class="row internetExplorer the-team-section" role="presentation">
	 				<div role="presentation" class="col-lg-24">
		  		  <h4>{{speakerToEdit.firstName + ' ' +  speakerToEdit.lastName}}</h4>
		  		  <h5>{{speakerToEdit.msTeamTitle}}</h5>
		  		  <img class="pull-left" data-ng-if="speakerToEdit.headShot" data-ng-src="/uploads/{{speakerToEdit.headShot}}" />
		  		  <p data-ng-bind-html="speakerToEdit.speakerDescription"></p>
		  		  <hr aria-hidden="true" role="presentation" class="alt1" />
	 				</div>
	  		</section>
 				<div role="presentation" class="row">
					<form id="edit-speaker-form" method="post" enctype="multipart/form-data" class="col-lg-24">
						<div data-ng-controller="AdminPageCtrl">
				  		 <br><br>
				  		<div style="font:smaller">{{editedSpeakerImg.path}}{{editedSpeakerImg.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
				  		    <span class="progress" ng-show="editedSpeakerImg.progress >= 0">
				  		        <div style="width:{{editedSpeakerImg.progress}}%"  
				  		             ng-bind="editedSpeakerImg.progress + '%'"></div>
				  		    </span>
				  		</div>     
				  		{{errorMsg}} 
				  	  <p>Select Headshot</p>
				  		<button name="photo" type="file" ngf-select="uploadFiles($file, $invalidFiles, 'editedSpeakerImg')">Select Headshot</button>
			    	</div>
						<input class="form-control" type="hidden" name="newSpeakerId" data-ng-model="speakerToEdit.id">
			    	<div class="form-group" role="presentation">
							<label for="firstName">First Name*</label>
							<input class="form-control" type="text" data-ng-model="speakerToEdit.firstName" name="firstName" id="firstName" required="true" autocomplete="off">
			    	</div>
			    	<div class="form-group" role="presentation">
							<label for="lastName">Last Name*</label>
							<input class="form-control" type="text" data-ng-model="speakerToEdit.lastName" name="lastName" id="lastName" required="true" autocomplete="off">
			    	</div>
			    	<div class="form-group" role="presentation">
							<label for="msTeamTitle">Speaker's Title</label>
							<input class="form-control" type="text" data-ng-model="speakerToEdit.msTeamTitle" name="msTeamTitle" id="msTeamTitle" autocomplete="off">
			    	</div>
			    	<div class="form-group" role="presentation">
							<label for="newMsTeamEmail">Speaker's Email</label>
							<input class="form-control" type="email" data-ng-model="speakerToEdit.newMsTeamEmail" name="newMsTeamEmail" id="newMsTeamEmail" autocomplete="off">
			    	</div>
			    	<div class="form-group" role="presentation">
							<radiogroup>
							<label for="showOnMeetTheTeamPageTrue">Show Speaker on Meet the Team Page</label>
								<input type="radio" id="showOnMeetTheTeamPageTrue" data-ng-model="speakerToEdit.showOnMeetTheTeamPage" name="showOnMeetTheTeamPage" ng-value="true">
								<br>
								<label for="showOnMeetTheTeamPageFalse">Do Not Show on Meet the Team Page</label>
								<input type="radio" id="showOnMeetTheTeamPageFalse" data-ng-model="speakerToEdit.showOnMeetTheTeamPage" name="showOnMeetTheTeamPage" ng-value="false">
							</radiogroup>
			    	</div>
						<br>
			    	<div class="form-group" role="presentation">
							<label for="meetTheTeamPageOrder">If Speaker Is on Meet the Team Page - What Position on Meet the Team Page</label>
							<input type="number" data-ng-model="speakerToEdit.meetTheTeamPageOrder" name="meetTheTeamPageOrder" id="meetTheTeamPageOrder" autocomplete="off">
			    	</div>
			    	<div class="form-group" role="presentation">
							<label for="speakerDescription">Speakers Description</label>
							<br>
							<textarea class="form-control" data-ng-model="speakerToEdit.speakerDescription" name="speakerDescription" style="min-height: 200px" data-ng-required="required" 
							data-ui-tinymce="tinymceOptions">
			      	</textarea>
					<div class="form-group">
						<label for="lastModifiedBy">Modified By</label>
						<input type="radio" class="form-control" data-ng-model="speakerToEdit.lastModifiedBy" name="lastModifiedBy" ng-value="userInfo.userName" data-ng-required="true">{{userInfo.userName}}
					</div>
			    	</div>
						<button type="button" ng-click="cancelEditingSpeaker()">Cancel</button>
						<button type="submit" class="btn btn-primary" id="save-new-speaker-as-draft-button" data-ng-click="saveNewSpeaker(speakerToEdit, false)">Revert to Draft</button>
						<button type="submit" class="btn btn-green" id="save-new-speaker-button" data-ng-click="saveNewSpeaker(speakerToEdit, true)">Publish Now</button>
						<p>Last Updated: {{speakerToEdit.updatedAt | date: 'MM/dd/yyyy HH:mm:ss'}}</p>
						</form>
					<!-- input below is for tinymce file upload -->
					<input name="image" type="file" id="upload" class="hideElem" onchange="">
 				</div>
			</div>
    </section>
  </main>
</div>
