<main role="presentation" id="beginningOfContent" class="grid white-bg mobileWrapper clearfix ng-cloak" ng-controller="surveyController">
    <section>
        <h1>Extend Paris 2017 Event Survey</h1>
        <p>Please fill out the following survey is you attended the Extend Paris 2017 event. All answers are annonymous.</p>
        <form method="post" name="surveyForm" id="surveyForm" enctype="multipart/form-data">
            <!--<div class="form-group">
                <label for="eventName">Extend Paris 2017
                    <input type="radio" class="form-control float-left" name="eventName" data-ng-model="newSurvey.eventName" value="Extend Paris 2017">
                </label>
            </div>-->
            <div class="form-group">
                <label for="ratingQuestionOne">1. Overall, how satisfied were you with Extend 2017? (Required)</label>
                <div class="clearfix"></div>
                <radiogroup>
                    <label for="fourQuestionOne">4 Very Satisfied
                        <input type="radio" class="form-control float-left" id="fourQuestionOne" data-ng-model="newSurvey.ratingQuestionOne" name="ratingQuestionOne" value="4">
                    </label>
                    <label for="threeQuestionOne">3 Somewhat Satisfied
                        <input type="radio" class="form-control float-left" id="threeQuestionOne" data-ng-model="newSurvey.ratingQuestionOne" name="ratingQuestionOne" value="3">
                    </label>
                    <label for="twoQuestionOne">2 Somewhat Dissatisfied
                        <input type="radio" class="form-control float-left" id="twoQuestionOne" data-ng-model="newSurvey.ratingQuestionOne" name="ratingQuestionOne" value="2">
                    </label>
                    <label for="oneQuestionOne">1 Very Dissatisfied
                        <input type="radio" class="form-control float-left" id="oneQuestionOne" data-ng-model="newSurvey.ratingQuestionOne" name="ratingQuestionOne" value="1">
                    </label>
                </radiogroup>
            </div>
            <div class="form-group">
                <label for="questionTwo">2. What did you like most about the Extend 2017 conference?</label>
                <textarea data-ng-model="newSurvey.questionTwo" name="questionTwo" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="ratingQuestionThree">3. How likely are you to develop with a technology you learned abou at Extend? (Required)</label>
                <div class="clearfix"></div>
                <radiogroup id="ratingQuestionThree">
                    <label for="fourQuestionThree">4 Very Likely
                        <input type="radio" class="form-control float-left" id="fourQuestionThree" data-ng-model="newSurvey.ratingQuestionThree" name="ratingQuestionThree" value="4">
                    </label>
                    <label for="threeQuestionThree">3 Somewhat Likely
                        <input type="radio" class="form-control float-left" id="threeQuestionThree" data-ng-model="newSurvey.ratingQuestionThree" name="ratingQuestionThree" value="3">
                    </label>
                    <label for="twoQuestionThree">2 Somewhat Unlikely
                        <input type="radio" class="form-control float-left" id="twoQuestionThree" data-ng-model="newSurvey.ratingQuestionThree" name="ratingQuestionThree" value="2">
                    </label>
                    <label for="oneQuestionThree">1 Very Unlikely
                        <input type="radio" class="form-control float-left" id="oneQuestionThree" data-ng-model="newSurvey.ratingQuestionThree" name="ratingQuestionThree" value="1">
                    </label>
                </radiogroup>
            </div>
            <div class="form-group">
                <label for="questionFour">4. Which technology are you most likely to develop with and why?</label>
                <textarea data-ng-model="newSurvey.questionFour" name="questionFour" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="questionFive">5. How could we improve the Extend 2017 conference?</label>
                <textarea data-ng-model="newSurvey.questionFive" name="questionFive" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" style="margin: 5px" data-ng-click="createSurvey(newSurvey)">
        </form>
    </section>
</main>