
<div class="mobileWrapper" role="presentation" data-ng-controller="EventsController" data-ng-init="getEvents(); getAllSpeakers()" >
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="grid main-page-content">
    <section role="presentation" class="col_12 internetExplorer">
			<ul class="tabs left" id="eventTabLinks">
				<li class="first current"><a target="_self" href="#edit-events-home-tab"><h5>Events</h5></a></li>
				<li class="last"><a target="_self" href="#edit-speakers-home-tab"><h5>Speakers</h5></a></li>
			</ul>
			<div id="edit-events-home-tab" class="first current tab-content eventTabDiv" style="display:block;">
				<h3>All Events</h3>
				<table>
					<tr><th><h4>Event Name</h4></th><th><h4>Event Location</h4></th><th><h4>Event Date</h4></th><th><h4>Last Modified By</h4></th><th><h4>Last Modified</h4></th><th><h4>Status</h4></th><th>&nbsp;</th></tr>
					<tr data-ng-repeat="event in theEvents"><td>{{event.eventName}}</td><td>{{event.eventLocation}}</td><td>{{event.eventStartDate | date: 'MM/dd/yyyy'}}</td><td>{{event.lastModifiedBy}}</td><td>{{event.updatedAt | date: 'MM/dd/yyyy'}}</td><td>{{publishedOrNot = event.isPublished ? 'published' : 'unpublished';}}</td><td><button>Edit</button></td></tr>
				</table>
			</div>
			<div id="edit-speakers-home-tab" class="last tab-content eventTabDiv" style="display:none;">
			<h3>All Speakers</h3>
			<table>
				<tr><th><h4>Speaker Name</h4></th><th><h4>Display on Meet the Team</h4></th><th><h4>Last Modified By</h4></th><th><h4>Status</h4></th><th>&nbsp;</th></tr>
				<tr data-ng-repeat="speaker in theSpeakers"><td>{{speaker.fullName}}</td><td>{{speaker.showOnMeetTheTeamPage}}</td><td>{{speaker.updatedAt | date: 'MM/dd/yyyy'}}</td><td>{{publishedOrNot = speaker.isPublished ? 'published' : 'unpublished';}}</td><td><button>Edit</button></td></tr>
			</table>
			</div>
    </section>
  </main>
</div>
