
<div class="mobileWrapper" role="presentation" data-ng-init="getEvents(); getAllSpeakers()" >
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="grid main-page-content">
    <section role="presentation" class="col_12 internetExplorer">
			<ul class="tabs left" id="eventTabLinks">
				<li class="first current"><a target="_self" href="#edit-events-home-tab"><h5>Events</h5></a></li>
				<li class="last"><a target="_self" href="#edit-speakers-home-tab"><h5>Speakers</h5></a></li>
			</ul>
			<div id="edit-events-home-tab" class="first current tab-content eventTabDiv" style="display:block;">
				<h3>All Events</h3>
				<button class="large">Add New Event</button>
				<table id="all-events-table">
					<tr><th><h4>Event Name</h4></th><th><h4>Event Location</h4></th><th><h4>Event Date</h4></th><th><h4>Last Modified By</h4></th><th><h4>Last Modified</h4></th><th><h4>Status</h4></th><th>&nbsp;</th></tr>
					<tr data-ng-repeat="event in theEvents"><td>{{event.eventName}}</td><td>{{event.eventLocation}}</td><td>{{event.eventStartDate | date: 'MM/dd/yyyy'}}</td><td>{{event.lastModifiedBy}}</td><td>{{event.updatedAt | date: 'MM/dd/yyyy'}}</td><td>{{publishedOrNot = event.isPublished ? 'published' : 'unpublished';}}</td><td><button>Edit</button></td></tr>
				</table>
				<div class="grid">
					<h3>New Event</h3>
					<form id="add-new-event-form">
						<label class="col_12" for="new-event-name">Event Name*</label>
						<input class="col_12" type="text" name="new-event-name" id="new-event-name" required="true">
						<label class="col_12" for="new-event-url">Event URL</label>
						<input class="col_12" type="ur"l name="new-event-url" id="new-event-url">
						<label class="col_12" for="new-event-registration-link">Event Registration Link</label>
						<input class="col_12" type="ur"l name="new-event-registration-link" id="new-event-registration-link">
						<label class="col_12" for="new-event-city">Event City*</label>
						<input class="col_12" type="text" name="new-event-city" id="new-event-city" required="true">
						<label class="col_12" for="new-event-state">Event State</label>
						<input class="col_12" type="text" name="new-event-state" id="new-event-state">
						<label class="col_12" for="new-event-country">Event Country</label>
						<input class="col_12" type="text" name="new-event-country" id="new-event-country">
						<label class="col_12" for="new-event-start-date">Event Start Date (Can include time of day)</label>
						<input class="col_12" type="date" name="new-event-start-date" id="new-event-start-date">
						<label class="col_12" for="new-event-end-date">Event End Date (Can include time of day)</label>
						<input class="col_12" type="date" name="new-event-end-date" id="new-event-end-date">
						<label class="col_12" for="new-event-theme-color">Choose Event Theme Color</label>
						<input class="col_12" type="color" name="new-event-theme-color" id="new-event-theme-color">
						<label class="col_12" for="new-event-header-image">Choose Header Image for Event Page</label>
						<input class="col_12" type="file" name="new-event-header-image" id="new-event-header-image">
						<label class="col_12" for="new-event-description">Event Description for About page</label>
						<br>
						<textarea class="col_12" name="new-event-description" id="new-event-description" style="min-height: 200px"></textarea>
						<div class="col_12"></div>
						<button class="medium float-left" style="margin: 5px" id="cancel-new-event-button">Cancel</button>
						<button class="medium float-left" style="margin: 5px" id="save-new-event-as-draft-button">Save as Draft</button>
						<button class="medium float-left" style="margin: 5px" id="save-and-publish-new-event-button">Save and Publish</button>
					</form>
				</div>
			</div>
			<div id="edit-speakers-home-tab" class="last tab-content eventTabDiv" style="display:none;">
			<h3>All Speakers</h3>
			<table>
				<tr><th><h4>Speaker Name</h4></th><th><h4>Display on Meet the Team</h4></th><th><h4>Last Modified By</h4></th><th><h4>Last Modified</h4></th><th><h4>Status</h4></th><th>&nbsp;</th></tr>
				<tr data-ng-repeat="speaker in theSpeakers"><td>{{speaker.fullName}}</td><td>{{speaker.showOnMeetTheTeamPage}}</td><td>{{speaker.updatedAt | date: 'MM/dd/yyyy'}}</td><td>{{publishedOrNot = speaker.isPublished ? 'published' : 'unpublished';}}</td><td><button>Edit</button></td></tr>
			</table>
			</div>
    </section>
  </main>
</div>
