
<div class="mobileWrapper" role="presentation" data-ng-init="getEvents(); getAllSpeakers()" >
  <main style="overflow:hidden;" id="beginningOfContent" tabindex="0" class="grid main-page-content">
    <section role="presentation" class="col_12 internetExplorer">
			<h3>New Event</h3>
			<!-- {{newEvent}} -->
			<form id="add-new-event-form" method="post" enctype="multipart/form-data">
				<label class="col_12" for="newEventName">Event Name*</label>
				<input class="col_12" type="text" data-ng-model="newEvent.eventName" name="newEventName" id="newEventName" required="true">
				<!-- <label class="col_12" for="new-event-url">Event URL</label>
				<input class="col_12" type="ur" data-ng-model="newEvent." name="new-event-url" id="new-event-url"> -->
				<label class="col_12" for="newEventRegistrationLink">Event Registration Link</label>
				<input class="col_12" type="url" data-ng-model="newEvent.eventRegistrationLink" name="newEventRegistrationLink" id="newEventRegistrationLink">
				<label class="col_12" for="newEventCity">Event City*</label>
				<input class="col_12" type="text" data-ng-model="newEvent.eventLocation" name="newEventCity" id="newEventCity" required="true">
				<label class="col_12" for="new-event-state">Event State</label>
				<input class="col_12" type="text" data-ng-model="newEvent.eventState" name="new-event-state" id="new-event-state">
				<label class="col_12" for="new-event-country">Event Country</label>
				<input class="col_12" type="text" data-ng-model="newEvent.eventCountry" name="new-event-country" id="new-event-country">
				<label class="col_12" for="newEventStartDate">Event Start Date (Can include time of day)</label>
				<input class="col_12" type="date" data-ng-model="newEvent.eventStartDate" name="newEventStartDate" id="newEventStartDate">
				<label class="col_12" for="newEventEndDate">Event End Date (Can include time of day)</label>
				<input class="col_12" type="date" data-ng-model="newEvent.eventEndDate" name="newEventEndDate" id="newEventEndDate">
				<label class="col_12" for="newEventThemeColor">Choose Event Theme Color</label>
				<input class="col_12" type="color" data-ng-model="newEvent.eventHighlightColor" name="newEventThemeColor" id="newEventThemeColor">
				<label class="col_12" for="newEventHeaderImage">Choose Header Image for Event Page</label>
				<input class="col_12" type="file" data-ng-model="newEvent.eventHeaderImage" name="newEventHeaderImage" id="newEventHeaderImage">
				<label class="col_12" for="new-event-description">Event Description for About page</label>
				<br>
				<textarea class="col_12" data-ng-model="newEvent.eventAboutTabText" name="new-event-description" id="new-event-description" style="min-height: 200px"></textarea>
				<div class="col_12"></div>
				<button class="medium float-left" style="margin: 5px" id="cancel-new-event-button">Cancel</button>
				<button class="medium float-left" style="margin: 5px" data-ng-click="createNewEvent(newEvent)" id="save-new-event-as-draft-button">Save as Draft</button>
				<button class="medium float-left" style="margin: 5px" id="save-and-publish-new-event-button">Save and Publish</button>
			</form>
			<!-- <form action="/multer" method="post" enctype="multipart/form-data">
				<input type="file" id="photo" name="photo"/> 
				<button id="Button1">Upload</button>
			</form> -->
    </section>
  </main>
</div>
