<main role="presentation" id="beginningOfContent" class="clearfix ng-cloak" data-ng-controller="MeetTheTeamCtrl" data-ng-init="getTeamMembers()">
	<section class="teamSection container">
		<h1>Meet The Team</h1>
		<div class="col-md-4" data-ng-repeat="(index, value) in teamMembers">
    		<img alt="Image of {{value.fullName}}" data-ng-src="{{value.headShot}}"  />
        	<h4>{{value.firstName + ' ' +  value.lastName}}</h4>
        	<h5>{{value.msTeamTitle}}</h5>
			<br ng-show="(index + 1)%3==0"/>
		</div>
    </section>
</main>
