<footer class="ng-cloak footer">
	<div class="newsletterSubscSection" role="presentation">
		<p>Email <a href="mailto:plugfests@microsoft.com" aria-label="Email plugfest@microsoft.com to stay updated">plugfests@microsoft.com</a> to stay updated</p>
	</div>
	<div class="footerInfo">
		<div class="container">
			<div class="row" id="footerLinksSections">
				<div class="linkCol col-xs-12 col-sm-4 col-md-2">
					<h4>Info</h4>
					<ul>
						<li><a href="/about">About Us</a></li>
						<li><a href="/meet-the-team">Meet the Team</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="/support">Support</a></li>
					</ul>
				</div>
				<div class="linkCol col-xs-12 col-sm-4 col-md-2">
					<h4>Events</h4>
					<ul>
						<li><a href="/future-event">Find an event</a></li>
					</ul>
				</div>
				<div class="linkCol col-xs-12 col-sm-4 col-md-2">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Event Resources</a></li>
						<li><a href="#">Microsoft Open Spec</a></li>
					</ul>
				</div>
				<div class="linkCol col-xs-12 col-sm-12 col-md-6">
					<h4>Social</h4>
					<a href="https://www.facebook.com/MicrosoftInteropEvents/"><img src="app/css/img/facebook.svg" alt="Facebook"></a>
					<a href="https://twitter.com/OSpecifications"><img src="app/css/img/twitter.svg" alt="Twitter"></a>
					<!--<a href=""></a><img src="app/css/img/linkedin.svg" alt="LinkedIn">-->
					<a href="https://github.com/OfficeDev"><img src="app/css/img/github.svg" alt="GitHub"></a>
					<a href="https://blogs.msdn.microsoft.com/officeinteroperability/"><img src="app/css/img/blog.svg" alt="Blog"></a>
					<a href="mailto:plugests@microsoft.com"><img src="app/css/img/email.svg" alt="Email"></a>
				</div>
			</div>
			<div class="row" id="copyrightPrivacySection">
				<div class="copyright pull-left">
					<p>&copy 2017 Microsoft</p>
				</div>
				<div class="privacyUseLinks pull-right">
					<a href="https://privacy.microsoft.com/en-us/privacystatement/">Privacy & cookies</a>
					<a href="https://msdn.microsoft.com/en-us/cc300389.aspx">Terms of use</a>
				</div>
			</div>
		</div>
	</div>
</footer>
