<footer class="ng-cloak footer">
	<div class="newsletterSubscSection" role="presentation">
		<p>Email <a href="mailto:plugfests@microsoft.com" aria-label="Email plugfests@microsoft.com to stay updated">plugfests@microsoft.com</a> to stay updated</p>
	</div>
	<div class="footerInfo">
		<div class="container">
			<div class="row" id="footerLinksSections">
				<div class="linkCol col-xs-12 col-sm-4 col-md-2">
					<h4>Info</h4>
					<ul>
						<li><a href="/about" aria-label="About Us" title="Navigate to About Us page">About Us</a></li>
						<li><a href="/meet-the-team" aria-label="Meet the Team" title="Navigate to Meet the Team page">Meet the Team</a></li>
						<li><a href="/faq" aria-label="FAQ" title="Navigate to frequently asked questions page">FAQ</a></li>
						<li><a href="/support" aria-label="Support" title="Navigate to support page">Support</a></li>
					</ul>
				</div>
				<div class="linkCol col-xs-12 col-sm-4 col-md-2">
					<h4>Events</h4>
					<ul>
						<li><a href="/future-events" aria-label="Find an event" title="Navigate to upcoming and past events page">Find an event</a></li>
					</ul>
				</div>
				<div class="linkCol col-xs-12 col-sm-4 col-md-2">
					<h4>Resources</h4>
					<ul>
						<!--<li><a href="#">Event Resources</a></li>-->
						<li><a href="https://msdn.microsoft.com/en-us/library/dd208104.aspx" aria-label="Open Specifications" title="Navigate to open specifications website">Open Specifications</a></li>
						<li><a href="https://msdn.microsoft.com/en-us/openspecifications/default" aria-label="Open Specifications Dev Center" title="Navigate to open specifications dev center">Open Specifications Dev Center</a></li>
					</ul>
				</div>
				<div class="linkCol col-xs-12 col-sm-12 col-md-6">
					<h4>Social</h4>
					<a href="https://www.facebook.com/MicrosoftInteropEvents/" class="socialMediaLink" aria-label="Facebook" title="Navigate to Interop Dev Events facebook page"><span class="fa fa-facebook fa-lg" aria-hidden="true"></span></a>
					<a href="https://twitter.com/OSpecifications" class="socialMediaLink" aria-label="Twitter" title="Navigate to interop dev events twitter page"><span class="fa fa-twitter fa-lg" aria-hidden="true"></span></a>
					<a href="https://www.meetup.com/Microsoft-Interop-Events/" class="socialMediaLink" aria-label="Meetup" title="Navigate to interop dev events meetup group"><span class="fa fa-meetup fa-lg" aria-hidden="true"></span></a>
					<a href="https://github.com/OfficeDev" class="socialMediaLink" aria-label="GitHub" title="Navigate to Microsoft Office Dev GitHub"><span class="fa fa-github fa-lg" aria-hidden="true"></span></a>
					<a href="https://blogs.msdn.microsoft.com/officeinteroperability/" class="socialMediaLink" aria-label="Blog" title="Navigate to office interoperability blog"><span class="fa fa-rss fa-lg" aria-hidden="true"></span></a>
					<a href="mailto:plugfests@microsoft.com" class="socialMediaLink" aria-label="Contact Us" title="Navigate to contact us"><span class="fa fa-envelope fa-lg" aria-hidden="true"></span></a>
				</div>
			</div>
			<div class="row" id="copyrightPrivacySection">
				<div class="copyright pull-left">
					<p>&copy 2017 Microsoft</p>
				</div>
				<div class="privacyUseLinks pull-right">
					<a href="https://privacy.microsoft.com/en-us/privacystatement/">Privacy & cookies</a>
					<a href="https://msdn.microsoft.com/en-us/cc300389.aspx">Terms of use</a>
				</div>
			</div>
		</div>
	</div>
</footer>
