<div role="presentation">
  <!-- begin main section -->
  <main class="container ng-cloak" role="presentation" data-ng-controller="LatestNewsCtrl">
    <section class="row" role="presentation">
        <h1 align="center">News</h1>
        <div class="col-md-8" data-ng-init="getBlogPosts()">
            <h3>Latest Interoperability News</h3>
          <div class="blog-post" data-ng-repeat="post in blogPosts.Items | limitTo: 9">
            <h4 role="presentation"><a data-ng-href="{{post.Link}}"> {{post.Title !== '' ? post.Title : 'Title Missing';}}</a></h4>
            <p class="date">{{getDate(post.PublishDate)}}</p>
            <p>{{post.MobileContent.substring(0, post.MobileContent.indexOf('Read more') > -1 ? post.MobileContent.indexOf('Read more') : 250)}}</p>
          </div>
        </div>
        <div aria-label="open specifications on twitter" class="col-md-4">
            <a  class="twitter-timeline" 
            data-chrome="noborders transparent nofooter"
            data-link-color="#0e0aac"
            data-dnt="true"
            data-tweet-limit="3"
            data-aria-polite="assertive"
            data-widget-id="622196778129985537"
            href="https://twitter.com/OSpecifications"></a>
        </div>
      
    </section>
  </main>
  <!-- end main section -->
</div>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
      js.src="//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);}
  }(document,"script","twitter-wjs");
</script>
<script type="text/javascript" src="/app/lib/customize-twitter-1.1.min.js"></script>
<script>
  var options = {
      "url": "/app/css/twitter-widget.min.css",
      "timeout_length": "1000"
  };
  CustomizeTwitterWidget(options);
</script> 