<div class="mobileWrapper ng-cloak" role="presentation">
  <main style="overflow:hidden;" class="grid main-page-content" role="presentation">
    <h1 id="beginningOfContent" class="text-align-center">Frequently Asked Questions</h1>
    <section role="presentation" class="col_12 internetExplorer">
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>What is the difference between a Plugfest and other interop events?</h3>
      <p focusable="true">Plugfests are focused on Open Specifications for Microsoft Protocols. During Plugfests, attendees can use protocol test suites that help evaluate whether an implementation's protocol communications conform to the relevant Microsoft Open Specifications.</p>
      <p focusable="true">Other interoperability events are focused on a wider range of developer focused topics such the opportunity of developing within Office365, Windows, and Cloud + Enterprise. Our developer focused events contain hack sessions where attendees are encouraged to build within Microsoft products. Overall, Plugfests are more focused on Open Specifications and testing protocols with other interop events are focused on the developer experience. </p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>Who attends Microsoft interoperability events?</h3>
      <p focusable="true">Microsoft welcomes independent, professional, and student developers to our interoperability events. Our events cater to both new and experienced developers however; we recommend you have some coding experience.</p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>How are Microsoft interoperability events different from other tech and developer events?</h3>
      <p focusable="true">Microsoft interoperability events differ from other tech events for several reasons.</p>
      <ol>
        <li><b>You’re a name, not a number.</b> We create an environment where our attendees are more than just another face in the crowd. Our events are designed for attendees to interact with Microsoft employees and build relationships.</li>
        <li><b>We are here to help you.</b> The reason our team travels the globe is to work with developers like yourself. We want to get to know you, answer your questions, and provide our expertise. We’re ready to sit down and dig into your code.</li>
        <li><b>We’re the people who made it.</b> Get Microsoft product help directly from the people who designed it. There is no need to scour help forums when the Microsoft engineers are standing right in front of you.</li>
        <li><b>It's your event, on us.</b> Microsoft interoperability events and Plugfests are free. As part of Microsoft interoperability, our goal is to make our events affordable for all developers. Microsoft interoperability events are focused on building knowledge, not selling tickets. It’s your event, our treat.</li>
      </ol>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>I don’t usually develop with Microsoft products, should I attend?</h3>
      <p focusable="true">Yes! Our goal at Microsoft interoperability events is educate and help attendees develop with Microsoft products on other platforms or learn how to develop within Microsoft products. Microsoft is committed to interoperability and we are prepared to help you with develop Microsoft on iOS, Android, Mac, Linux, or whichever platform you develop with.</p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>What kind of Microsoft support will I receive?</h3>
      <p focusable="true">During Microsoft interoperability events, our engineers and program managers are dedicated to helping you. In the past, our events have a high engineer to attendee ratio. Also, there is an option to ask for free support online from our escalation engineers. We guarantee a response within 24 hours since your inquiry and have adhered to this promise for the past 5 years. </p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>How much do Microsoft interoperability events cost?</h3>
      <p focusable="true">Microsoft interoperability events are free.</p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>Why are Microsoft interoperability events free?</h3>
      <p focusable="true">As part of Microsoft interoperability, our goal is to make our events affordable for all developers. Microsoft interoperability events are focused on building knowledge, not selling tickets. It’s your event, our treat.</p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
      <h3>What technologies are at each event?</h3>
      <p focusable="true">The nature of the event dictates which technologies will be present. Microsoft interoperability events are commonly supported by Office, Cloud + Enterprise, and Windows. Each specific technology within these categories such as: SQL Server, Exchange, or File Formats will be located within each event page. See our upcoming events for upcoming topics.</p>
      <hr aria-hidden="true" role="presentation" class="alt1" />
    </section>
  </main>
</div>