<nav class="admin-menu container-fluid dropdown">
	<ul class="nav nav-justified">
		<li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	      Create New 
	      <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
			<li><a href="/admin/createevent">Create New Event</a></li>
			<li><a href="/admin/createspeaker">Create New Speaker</a></li>
		</ul>
	  </li>
	  <li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	      Edit Elements 
	      <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
				<li><a href="/admin/editevent">Edit Event</a></li>
				<li><a href="/admin/editspeaker">Edit Speaker</a></li>
				<li><a href="/admin/editslider">Edit Homepage Slide Show</a></li>
			</ul>
	  </li>
	  <li role="presentation dropdown">
	  	<a class="dropdown-toggle navbar-link admin-navbar-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
	     Delete Elements 
	     <span class="win-icon win-icon-MapCompassBottom win-icon-size-ml" aria-hidden="true"></span>
	    </a>
	    <ul class="dropdown-menu">
				<li><a href="/admin/editevent">Edit Event</a></li>
				<li><a href="/admin/editspeaker">Edit Speaker</a></li>
				<li><a href="/admin/editslider">Edit Homepage Slide Show</a></li>
			</ul>
	  </li>
	  <li><a href="/admin/help">Help</a></li>
	</ul>
</nav>