<div class="ng-cloak" data-ng-init="getEvents()">
	<main data-ng-if="show404" class="col-xs-12 ng-cloak">
    	<section class="col-xs-12">
      		<h1>Sorry we can't find the page you're looking for</h1>
    	</section>
  	</main>
  	<main class="eventContent">
    	<section class="eventBanner" data-ng-style="{'background-image': 'url({{headerImage}})'}">
			<h1>{{event.eventName}}</h1>
			<h4>{{getReadableDate(event.eventStartDate) + ' - ' + getReadableDate(event.eventEndDate)}}</h4>
			<a href="{{event.eventRegistrationLink}}" class="btn eventRegistrationButton">Register</a>
    	</section>
    	<section class="eventInfo"></section>
    	<section class="venueInfo"></section>
    	<section class="eventAgenda"></section>
    	<section class="eventAccomodations"></section>
  	</main>
  <!-- <main data-ng-if="events.isEvent" class="main-page-content">
  	<div data-ng-if="events.event.eventHeaderImage" class="ng-cloak col_12 internetExplorer event-header centered" id="eventHeader" role="complementary"><img alt="event banner image" data-ng-src="{{ headerImage }}" /></div>
  	<ul class="tabs left" id="eventsPageUl">
      <li data-ng-if="events.event.eventAboutTabText" >
        <a target="_self" href="#aboutTab"><h5>About</h5></a>
      </li>
  		<li data-ng-repeat="tab in events.tabs | orderBy: 'tabNumber'" id="{{addMainContentId($index)}}">
  			<a class="eventTabAnchor" target="_self" href="#{{urlify(tab.tabTitle)}}"><h5>{{ tab.tabTitle }}</h5></a>
  		</li>
      <li data-ng-if="events.event.eventVenueName || events.event.eventVenueAddressLine1 || events.event.eventVenueAddressLine2 || events.event.eventParkingInfo || events.event.eventVenueImg" >
        <a target="_self" href="#venueTab"><h5>Venue</h5></a>
      </li>
  		<li data-ng-if="events.speakers.length > 0">
  			<a target="_self" href="#speakers"><h5>Speakers</h5></a>
			</li>
      <li class="pull-right" ng-if="events.event.eventRegistrationLink">
        <a ng-href="{{events.event.eventRegistrationLink}}" class="win-color-bg-green whiteText"><h5>Register</h5></a>
      </li>
		</ul>
    <div id="aboutTab" data-ng-if="events.event.eventAboutTabText" class="tab-content clearfix eventTabDiv" data-ng-bind-html="events.event.eventAboutTabText" >
      <h2>{{events.event.eventName}}</h2>
      <h4>{{getReadableDate(events.event.eventStartDate) + ' - ' + getReadableDate(events.event.eventEndDate) }}</h4>
      <p>{{events.event.eventAboutTabText}}</p>
    </div>
    <div id="venueTab" data-ng-if="events.event.eventVenueName || events.event.eventVenueAddressLine1 || events.event.eventVenueAddressLine2 || events.event.eventParkingInfo || events.event.eventVenueImg" class="tab-content clearfix eventTabDiv" >
      <h2>{{events.event.eventVenueName}}</h2>
      <div data-ng-if="events.event.eventVenueImg" class="col_12 internetExplorer event-header centered" id="venueImg" role="complementary">
        <img alt="{{events.event.eventVenueName}} image" data-ng-src="/uploads/{{events.event.eventVenueImg}}" />
      </div>
      <address>
        {{events.event.eventVenueAddressLine1}}<br>
        {{events.event.eventVenueAddressLine2}}<br>
        {{events.event.eventCountry}}
      </address>
      <p>{{events.event.eventParkingInfo}}</p>
    </div>
		<div data-ng-repeat="tab in events.tabs | orderBy: 'tabNumber'" id="{{urlify(tab.tabTitle)}}" class="tab-content clearfix eventTabDiv" data-ng-bind-html="tab.tabContent" ></div>
  	<div data-ng-if="events.speakers.length > 0" id="speakers" class="tab-content clearfix eventTabDiv clearfix">
			<div data-ng-repeat="speaker in events.speakers | orderBy: 'EventSpeakersAsscs.sortPosition'" class="col_12 internetExplorer" id="{{speaker.divId}}" aria-label="Bio of {{speaker.fullName}}" role="presentation">
 		  	<h4>{{speaker.fullName}}</h4>
 		  	<h5>{{speaker.msTeamTitle}}</h5>
 		  	<p>
 		  		<img class="ng-cloak pull-left speakersImg" height="165" width="165" alt="image of {{speaker.fullName}}" data-ng-src="{{speaker.headShot}}" />
 		  		<span data-ng-bind-html="speaker.speakerDescription">{{speaker.speakerDescription}}</span>
	  		</p>
 		  	<hr aria-hidden="true" role="presentaion" class="alt1" />
 			</div>
  	</div>
  </main> -->
</div>