<div class="ng-cloak" data-ng-init="getEvents()" data-events-directive>
	<main data-ng-if="events.isEvent === false" class="col-xs-12 ng-cloak errorSection">
    	<section class="col-xs-12">
      		<h1>Sorry we can't find the page you're looking for</h1>
    	</section>
  	</main>
  	<main class="eventContent" data-ng-hide="events.isEvent === false">
    	<section class="eventBanner" data-ng-style="{'background-image': 'url('+ headerImage +')'}">
			<div class="gradient">
				<div class="container">
					<div class="bannerText">
						<h1>{{event.eventName}}</h1>
						<h4>{{getReadableDate(event.eventStartDate) + ' - ' + getReadableDate(event.eventEndDate)}}</h4>
						<a data-ng-if="event.eventRegistrationLink" href="{{event.eventRegistrationLink}}" class="btn eventRegistrationButton" title="Navigate to registration page">Register</a>
					</div>
				</div>
			</div>
    	</section>
		<!--<section class="eventBanner">
			<img src="/uploads/{{event.eventHeaderImage}}" alt="">
			<div class="gradient">
				<div class="bannerText">
					<div class="container">
						<h1>{{event.eventName}}</h1>
						<h4>{{getReadableDate(event.eventStartDate) + ' - ' + getReadableDate(event.eventEndDate)}}</h4>
						<a data-ng-if="event.eventRegistrationLink" href="{{event.eventRegistrationLink}}" class="btn eventRegistrationButton" title="Navigate to registration page">Register</a>
					</div>
				</div>
			</div>
		</section>-->
    	<section class="eventInfo">
				<div class="container">
					<h2>Event Information</h2>
					<div class="eventInfoText" data-ng-bind-html="events.event.eventAboutTabText">
						{{events.event.eventAboutTabText}}
					</div>
				</div>
			</section>
			<section class="eventAgenda" data-ng-if="events.tabs.length > 0">
				<div class="container">
					<h2>Agenda</h2>
					<ul class="tabs">
						<li data-ng-repeat="tab in events.tabs | orderBy: 'tabNumber'" id="{{addMainContentId($index)}}">
							<a class="eventTabAnchor" target="_self" href="#{{urlify(tab.tabTitle)}}">
								<h3>{{tab.tabTitle}}</h3>
							</a>
						</li>
					</ul>
					<div data-ng-repeat="tab in events.tabs | orderBy: 'tabNumber'" id="{{urlify(tab.tabTitle)}}" class="tab-content clearfix eventTabDiv" data-ng-bind-html="tab.tabContent" ></div>
				</div>
			</section>
			<section class="eventHackathon" data-ng-if="events.event.eventHackathon">
				<div class="container">
					<h2>Hackathon</h2>
					<div class="row">
						<div class="col-xs-12" data-ng-hide="events.event.eventHackathonImg">
							<div class="eventHackathonText" data-ng-bind-html="events.event.eventHackathon">
								{{events.event.eventHackathon}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventHackathonImg">
							<div class="eventHackathonText" data-ng-bind-html="events.event.eventHackathon">
								{{events.event.eventHackathon}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventHackathonImg">
							<div id="hackathonImg" role="complementary">
								<img data-ng-src="/uploads/{{events.event.eventHackathonImg}}" alt="Hackathon Image">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="eventIOLab" data-ng-if="events.event.eventIOLab">
				<div class="container">
					<h2>I/O Lab</h2>
					<div class="row">
						<div class="col-xs-12" data-ng-hide="events.event.eventIOLabImg">
							<div class="eventIOLabText" data-ng-bind-html="events.event.eventIOLab">
								{{events.event.eventIOLab}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventIOLabImg">
							<div class="eventIOLabText" data-ng-bind-html="events.event.eventIOLab">
								{{events.event.eventIOLab}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventIOLabImg">
							<div id="ioLabImg" role="complementary">
								<img data-ng-src="/uploads/{{events.event.eventIOLabImg}}" alt="I/O Lab Image">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="eventWorkshop" data-ng-if="events.event.eventWorkshop">
				<div class="container">
					<h2>Workshop</h2>
					<div class="row">
						<div class="col-xs-12" data-ng-hide="events.event.eventWorkshopImg">
							<div class="eventWorkshopText" data-ng-bind-html="events.event.eventWorkshop">
								{{events.event.eventWorkshop}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventWorkshopImg">
							<div class="eventWorkshopText" data-ng-bind-html="events.event.eventWorkshop">
								{{events.event.eventWorkshop}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventWorkshopImg">
							<div id="workshopImg" role="complementary">
								<img data-ng-src="/uploads/{{events.event.eventWorkshopImg}}" alt="Workshop Image">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="venueInfo" data-ng-if="events.event.eventVenueName || events.event.eventVenueAddress || events.event.eventParkingInfo || events.event.eventVenueImg">
				<div class="container">
					<h2>Venue Information</h2>
					<div class="row">
						<div class="col-xs-12" data-ng-hide="events.event.eventVenueImg">
							<h3>{{events.event.eventVenueName}}</h3>
							<div class="venueNameAddress" data-ng-bind-html="events.event.eventVenueInfo">
								{{events.event.eventVenueInfo}}
							</div>
							<div class="parkingInfo" data-ng-if="events.event.eventParkingInfo">
								<h3>Parking Information</h3>
								<div data-ng-bind-html="events.event.eventParkingInfo">
									{{events.event.eventParkingInfo}}
								</div>
							</div>
							<!--<div class="moreVenueInfo">
								<p>For more information, contact <a href="mailto:plugfests@microsoft.com">plugfests@microsoft.com</a></p>
							</div>-->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventVenueImg">
							<h3>{{events.event.eventVenueName}}</h3>
							<div class="venueNameAddress" data-ng-bind-html="events.event.eventVenueInfo">
								{{events.event.eventVenueInfo}}
							</div>
							<div class="parkingInfo" data-ng-if="events.event.eventParkingInfo">
								<h3>Parking Information</h3>
								<div data-ng-bind-html="events.event.eventParkingInfo">
									{{events.event.eventParkingInfo}}
								</div>
							</div>
							<!--<div class="moreVenueInfo">
								<p>For more information, contact <a href="mailto:plugfests@microsoft.com">plugfests@microsoft.com</a></p>
							</div>-->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventVenueImg">
							<div id="venueImg" role="complementary">
								<img data-ng-src="/uploads/{{events.event.eventVenueImg}}" alt="{{events.event.eventVenueName}}">
							</div>
						</div>
					</div>
				</div>
			</section>
    	<section class="eventAccommodations" data-ng-if="events.event.eventAccommodations">
				<div class="container">
					<h2>Accommodations</h2>
					<div class="row">
						<div class="col-xs-12" data-ng-hide="events.event.eventAccommodationImg">
							<div class="eventAccommodationText" data-ng-bind-html="events.event.eventAccommodations">
								{{events.event.eventAccommodations}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventAccommodationImg">
							<div class="eventAccommodationText" data-ng-bind-html="events.event.eventAccommodations">
								{{events.event.eventAccommodations}}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="events.event.eventAccommodationImg">
							<div id="hotelImg" role="complementary">
								<img data-ng-src="/uploads/{{events.event.eventAccommodationImg}}" alt="Accommodation Image">
							</div>
						</div>
					</div>
				</div>
			</section>
  	</main>
</div>