<!-- REMOVE CONTACT US -->

<div class="mobileWrapper ng-cloak" role="presentation">
  <main role="main" class="grid main-page-content">
    <div class="col_12">
      <h1 id="beginningOfContent">Contact Us</h1>
    </div>
    <section class="col_12 internetExplorer">
      <h2>Do you need help? Have questions?</h2>
      <p>We want to hear from you. To contact us, please fill out the form below.</p>
      <form make-auto-complete-false-directive>
        <label for="emailSubject" class="col_10">Subject</label>
        <input type="text" title="Subject" name="emailSubject" id="emailSubject" class="col_10" placeholder="I want to learn more about Microsoft Plugfests and Events" />
        <label for="emailBody" class="col_10">Email Body</label>
        <textarea type="text" title="Email Body" name="emailBody" id="emailBody" class="col_10"></textarea>
        <br />
        <div class="col_10">
          <a class="btn btn-primary" role="button" id="emailButton" href="#">Contact Us!</a>
        </div>
      </form>
    </section>
  </main>
</div>