<div class="mobileWrapper" role="presentation">
  <main tabindex="0" role="main" class="grid main-page-content" role="presentation">
    <div class="col_1"></div>
    <section class="col_12 internetExplorer">
      <h1 id="beginningOfContent">Contact Us</h1>
      <h2>Do you need help? Have questions?</h2>
      <p>We want to hear from you. To contact us, please fill out the form below.</p>
      <form>
        <label for="emailSubject" class="col_10">Subject</label>
        <input type="text" title="Subject" name="emailSubject" id="emailSubject" class="col_10" placeholder="I want to learn more about Microsoft Plugfests and Events" />
        <label for="emailBody" class="col_10">Email Body</label>
        <textarea type="text" title="Email Body" name="emailBody" id="emailBody" class="col_10"></textarea>
        <br />
        <div class="col_10">
          <a class="button" id="emailButton" href="blah">Contact Us!</a>
        </div>
      </form>
    </section>
  </main>
</div>