.eventsBanner {
	background-image: url('img/banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	text-align: center;
	color: #fff;

	h1, 
	h3 {
		position: absolute;
		left: 0;
		right: 0;
	}

	h1 {
		margin: 0;
		font-size: 50px;
		top: 23%;
	}

	h3 {
		font-size: 36px;
		top: 28%;
	}
}

.events {
	margin-top: 15px;

	h1 {
		margin-bottom: 30px;
	}

	.eventBox {
		height: 500px;
		width: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 80%;
		position: relative;
		margin-bottom: 40px;

		.row {
			position: absolute;
			bottom: 20px;
			width: 100%;
			margin: 0 auto;
		}

		h2 {
			color: #fff;
			margin: 0;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			max-width: 250px;
		}

		.registerButtonCol {
			text-align: center;

			.registerButton {
				background-color: #0078d7;
				color: #fff;
				border-radius: 0;
				padding: 10px 30px;
				margin-top: 22px;
			}
		}
	}
}

.past {
	margin-bottom: 40px;
	h1 {
		margin-top: 0;
		margin-bottom: 30px;
	}
}