.eventsBanner {
	background-image: url('img/banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	text-align: center;
	color: #fff;

	h1, 
	h3 {
		position: absolute;
		left: 0;
		right: 0;
	}

	h1 {
		margin: 0;
		font-size: 50px;
		top: 23%;
	}

	h3 {
		font-size: 36px;
		top: 28%;
	}
}

.events {
	margin-top: 15px;

	h1 {
		margin-bottom: 30px;
	}

	.eventBox {
		display: block;
		height: 300px;
		width: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 80%;

		.eventText {
			background-color: #e6e6e6;
			height: 100px;
			padding: 10px;
			.eventUrl {
				color: #000;
				h4 {
					margin-top: 0;
				}
			}

			.eventUrl:hover {
				color: #002050;
			}
		}
	}
}

.past {
	margin-bottom: 40px;
	h1 {
		margin-top: 0;
		margin-bottom: 30px;
	}
}