.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
  text-align: left !important;
}

.align-center {
	text-align: center !important; 
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.hideElem {
	display: none !important;
}