main {
	.banner {
		background-image: url('img/banner.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 500px;
		text-align: center;
		color: #fff;

		h1, 
		h3 {
			position: absolute;
			left: 0;
			right: 0;
		}

		h1 {
			margin: 0;
			font-size: 50px;
			top: 23%;
		}

		h3 {
			font-size: 36px;
			top: 28%;
		}

	}

	.aboutInteropEvents {
		#learnSection, 
		#networkingSection,
		#hackathonSection {
			img {
				height: 330px;
				width: 530px;
			}
			p {
				font-size: 18px;
			}
			h2 {
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}
		}

		#learnSection, 
		#networkingSection,
		#hackathonSection {
			margin-bottom: 40px;
		}

		#learnSection, 
		#networkingSection {
			img {
				float: right;
			}
		}

		#hackathonSection {
			img {
				float: left;
			}
		}
	}

	.technology {
		background-color: #e6e6e6;

		.square {
			height: 250px;
			width: 250px;
			color: #fff;
			// padding: 30px;
			margin: 0 auto;
			h2 {
				margin: 0;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}

			p {
				font-size: 18px;
				text-align: center;
				margin-top: 30px;
			}
		}

		#office {
			background-color: #d83b01;
			padding: 42px 30px 30px 30px;
		}

		#sql {
			background-color: #107c10;
			padding: 35px 30px 30px 30px;
			h2 {
				font-size: 36px;
				text-align: center;
			}
		}

		#windows {
			background-color: #0078d7;
			padding: 45px 30px 30px 30px;
		}

		.moreInfoLink {
			font-size: 18px;
			color: #000;
		}

		.moreInfoLink:hover,
		.moreInfoLink:focus {
			text-decoration: none;
			color: #002050;
		}

		.row:last-child {
			text-align: center;
			margin-bottom: 30px;
			// margin-top: 30px;
		}

		.row {
			margin-top: 30px;
		}
	}

	.upcomingEvents {
		h1 {
			margin-top: 30px;
		}
		.upcomingEventBox {
			height: 500px;
			width: 500px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 80%;
			position: relative;
			
			.row {
				position: absolute;
				bottom: 20px;
				width: 100%;
				margin: 0 auto;
			}
		}

		h2 {
			color: #fff;
			margin: 0;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			max-width: 250px;
		}

		.registerButtonCol {
			text-align: center;

			.registerButton {
				background-color: #0078d7;
				color: #fff;
				border-radius: 0;
				padding: 10px 30px;
				margin-top: 22px;
			}
		}

		.moreInfoLink {
			font-size: 18px;
			color: #000;
		}

		.moreInfoLink:hover,
		.moreInfoLink:focus {
			text-decoration: none;
			color: #002050;
		}

		.moreInfoRow {
			text-align: center;
			margin-bottom: 30px;
			margin-top: 30px;
		}

		.eventsRow {
			margin-top: 30px;
		}

	}
}